title: Eileen Brady | Questionaire Responce
description: Eileen Brady's responces to the bike walk vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Eileen Brady
:markdown
	Download a [PDF of Eileen Brady's responces](/responces/mayor/brady.pdf "A PDF Eileen Brady's responces to the bike walk vote questionnaire").

%h3 general approach
.question 
	:markdown
		Portland’s Climate Action Plan demands we drastically reduce driving from current levels. The Portland Plan aims to create 20-minute neighborhoods in Portland, places where people can get around quickly and easily by walking or biking (with 70% of commute trips in 2035 by foot, transit, or bike). Right now only 27% of commute trips are on foot, transit, or bike. Why do you think more Portlanders do not walk, bike, or take transit for transportation, and what will you do to help Portland meet its goals and become an even better city to walk, bike and ride transit?
.answer
	:markdown
		I will continue to emphasize the existing tools in Portland’s tool chest that advance livability and our nationally recognized system of multi-modal transportation.

		Two examples are:
		
		* _Twenty minute neighborhoods_: Portlanders in dense twenty minute neighborhoods close to the central city tend to bike and walk in larger numbers than Portlanders in other neighborhoods. Twenty minute neighborhoods must be a City priority. We should be moving to create them as quickly as funds allow. This will be a larger challenge in East and Southwest Portland where our infrastructure simply isn’t there and the development pattern is strikingly different than other areas of Portland. The City should ensure that zoning allows for sufficient neighborhood commercial development so that the main street businesses necessary for twenty minute neighborhoods can begin to locate in those areas. This is an essential step towards creating neighborhood centers. I am committed to helping accelerate our plans for twenty minute neighborhoods – including those linked to the Neighborhood Prosperity Initiative&nbsp;– so that all of our neighborhoods can be livable, walkable and bikeable.
		* _Low Stress Boulevards_: The 80% rule in the 2030 Bike Master Plan is a very useful metric and goal for the city and one where we find much community consensus. This goal suggests that 80% of residents should be within one half mile of a low stress bikeway. Traffic calming streets can benefit direct neighbors as well as allow safe bike and ped access. This is one of the more achievable, cost effective approaches to implement during lean times. We should move forward with these plans.
		
		“Why don’t more people walk, bike or use transit:”
		
		* _Walking_: The lack of safe sidewalks or walking paths discourages many people from traveling on foot through their neighborhoods. This is a particular concern for school age children and seniors. Implementing our plans for building sidewalks and walking paths must be part of PBOT’s priority list. Even though it may take years, we have to slowly but surely complete the sidewalk infill and neighborhood greenway plans. With proper financial planning and discipline we can certainly accomplish much of this prior to 2035.
		* _Biking_: I’ve talked to many people who would like to commute by bike but are hesitant to do so because they do not feel safe. Similar to our approach with sidewalk construction, we must continue to steadily implement our bicycle master plan and work towards constructing the off road trail system project that has been proposed. The low stress bikeways are a particularly cost effective approach to encouraging traffic calming and safe streets where bikes and cars can safely co-exist.
		* _Transit_: The transit constraint I most frequently hear about is the lack of bus service, particularly in East Portland. This includes frequency of service on existing lines and the lack of sufficient North/South transit routes. I would use the influence of the City to work with Tri-Met to address this urgent need. In addition, many potential transit riders have concerns about their personal safety while riding buses or trains and this discourages them from using these modes of transportation. Increasing the presence of public safety officers and neighborhood watch teams would be a large step towards mitigating those fears.

%h3 fair funding share
.question
	:markdown
		One of every four Portland residents (about 150,000 people) is too young, old, infirm or poor to drive. Would you support a city policy to dedicate at least that percentage (25%) of PBOT’s budget for walking, biking, and access to transit projects?
.answer
	:markdown
		At first look, rigid percentages, whether across the board allocations or budget cutting directives are tempting to use for the purpose of basic fairness. However, I believe an outcomes based approach makes more sense. One of the outcomes I will advocate for is maintenance of and upgrades to our infrastructure for walking, biking and access to transit. Other outcomes to work towards include ensuring reliable transportation to and from worksites, meeting climate change goals, encouraging a livable city, enticing visitors to Portland and helping to build out economic opportunities including for the emerging cycling industry.

		Additionally, percentage based budgeting can be a complex and difficult metric to measure and track. For example, I’m a cyclist myself so I’m well aware that the condition of the roads is a concern to bike riders. Would pothole repairs fit into the auto or biking budgets? I also want to make sure that equity is always being considered when making funding decisions and that all of our neighborhoods are livable and safe. For example, paving unpaved roads in East Portland is a high priority for me and I believe it is critical that we take this under consideration when making transportation funding decisions for the city as a whole.

		Lastly, maintaining what we have is a priority for me. We too often implement a new project without an ongoing plan to pay for basic maintenance. In fact, we spent over $500,000 of federal transportation funds to install sharrows but we do not have a plan in place for taking care of them over time.

		All of these considerations&nbsp;– outcomes, equity, maintenance, and measurement&nbsp;– need to be reviewed as budget decisions are made.

%h3 contributing to transit's success
.question
	:markdown
		Transit is the backbone of our regional transportation system. The Federal Transit Administration considers a 3-mile radius around transit stops to be the catchment area for linking walking and biking to transit. While the city does not run the transit system, it provides access to transit, some of the sidewalks at transit stops, subsidizes the streetcar, and helps pay for transit youth passes. Which investments would you prioritize to support the transit system?
.answer
	:markdown
		Transit is one of the key components in our overall transportation system. The city must focus on creating safe routes to schools, community centers, grocery stores and neighborhood centers. The city must continue to prioritize access to the transit network. The city must coordinate with other jurisdictions for planning and funding large transit projects. The city must encourage innovative thinking to keep the cost of transit riding as low as possible. An example would be to encourage TMAs to spend discretionary parking meter revenue on reducing or eliminating the cost of transit trips.

%h3 critical pedestrian investments
.question
	:markdown
		For most of the last decade, the Portland Bureau of Transportation has spent about $50,000 a year on new sidewalks, which has done little to meet long-standing needs in historically underfunded areas. Engineering requirements, right-of-way shortages, and other factors mean sidewalks are expensive to build (though compared to highway interchanges, they’re very cheap). How can we create more safe space for people to walk in difficult budget times?
.answer
	:markdown
		In this time of scarce resources, this is an area where we need to do some innovative thinking&nbsp;– especially in East Portland and Southwest Portland. For instance, while not ideal, paving shoulders should be seriously considered because shoulder space on a street can be safer and easier than no space at all for walking. There have also been some innovative examples of cost effective walking trails in Southwest Portland. The Bureau of Environmental Services has a “ditches to swales” program in Southwest Portland. The City should do as much as it can to make these street shoulder pathways as walkable as possible.

		In addition, I will work actively with our congressional delegation to leverage every opportunity at the federal level for funding for sidewalks and transportation facilities that add to the goal of having every neighborhood be a livable neighborhood.

%h3 funding shortfalls and innovation
.question
	:markdown
		PBOT has a $16 million budget shortfall for 2012, and ODOT is dramatically short of funds, and falling behind on maintenance responsibilities. Meanwhile, we still lack complete networks of safe ways to get around without a car. Many economists and transportation advocates are excited about the idea of using pricing signals to improve our transportation system. Congestion pricing, demand-responsive parking rates, street maintenance fees, and internalizing the externalized costs and benefits of transportation modes (for example, the CDC estimates $1000 in annual health care savings from every active person) are especially promising. What would you do to bring in more money for our transportation needs? Do you support parking taxes, street fees, or demand-responsive parking rates?
.answer
	:markdown
		I have been an outspoken advocate for congestion tolling and pricing and am interested in other revenue generating strategies&nbsp;– including federally funded “active lifestyle incentives” to fund basic services. But before the City can ask for more or higher City related fees, we need to prove that we are managing the City’s finances responsibly. Non-mission critical projects have to end. We need to refocus on basic services and job creation.

%h3 choices and public perception
.question
	:markdown
		Critics of bicycle, pedestrian, and transit projects mistakenly contend cyclists, pedestrians, and transit users don’t pay their fair share in road taxes and other user fees. How would you make the case for allocating funds and limited street space for bicycle, pedestrian, and transit projects?
.answer
	:markdown
		The Portland Plan and many members of the bike/ped/transit community have done an excellent job in making the case for allocation of these funds. Unfortunately, the tension some residents feel about bike programming, combined with poor communication from the City, has contributed to creating a situation where even allocations for basic funding for multi-modal transportation have become controversial.

		The idea that bike riders, pedestrians or transit users are not paying an equitable share in road taxes and other fees is simply incorrect. Anyone, including bike riders, who owns or rents a home or drives a car is paying into the PBOT budget and the general fund for the city.

		One of my goals is to provide the leadership to improve the communication between the bike community and other residents who have frustration with the bike community. There are many shared values about biking&nbsp;– health, livability, economic vitality, easy transit to school or work, and safety&nbsp;– but this does not tend to be the conversation. We need to focus on the very practical, shared values that the community has in order to move the agenda forward.

%h3 cross-department collaboration
.question
	:markdown
		There is significant concern about the silos between departments in the city – an issue that has been noted by candidates for years. A recent partnership between the Bureaus of Environmental Services and Transportation to get traffic safety benefits through smart sewer investments became very controversial. What would you have done differently? Where the goals of PBOT overlap with the goals of various other departments (for example, sustainability, equity, public safety, parks, water), what would you do to improve collaboration to most efficiently use our resources?
.answer
	:markdown
		I support collaboration between bureaus. In fact, I have worked for years in the bringing diverse sets of stakeholders together to build more complete solutions. The biggest problem with the example given is that it didn’t start as a partnership. It appeared to start at the City Council level, without much input from the bureaus, and out of a disagreement regarding how to fund the Bike Plan for 2030. I think the partnership would have been more successful if the issue had been approached more collaboratively from the beginning – by discussing how the tasks would be assigned, who would be responsible for what part of the project, and how the impact of the project would be measured. I believe that the people who are doing the work or who are “10 feet from the problem,” should be at the table to help create solutions. In addition, the communication from the City around this example was not well managed and led to unnecessary tensions and frustrations.

%h3 traffic safety
.question
	:markdown
		Traffic-related crashes are the top cause of death and injury for Oregonians aged 1 to 34.  In 2011, 319 Oregonians were killed in traffic crashes, including 15 cyclists. Pedestrian injuries and deaths are a serious problem in Oregon, with one serious injury a day and one death a week.  In 2010, 18 pedestrians died in Portland. Traffic speed is the leading factor in crashes (even above alcohol), and one of the largest contributors to whether a crash is fatal. Is safety the highest priority of the transportation system? If so (or if not) what policy and implications does that have, especially when it comes to slowing cars and protecting vulnerable roadway users? What specific policies and projects would you support to improve safety?
.answer
	:markdown
		I will prioritize safety and maintenance for Portland before considering discretionary projects like the streetcar to Lake Oswego. Portland needs to continue funding projects that are helping people get across busy streets safely, that are keeping speeds low in our neighborhoods and that are providing space for people to safely walk.

		I am supportive of the Neighborhood Greenways program. I think this program is strong and contributes to reducing auto traffic speeds and providing safer routes and crossings for bike and pedestrian travel through neighborhoods – and off major arterials. NE Going between N. Vancouver and NE Cully Blvd is a good example. Stop sign coordination, speed bumps, bike turn lanes and safer crossings all add up to significant added neighborhood safety.

%h3 CRC highway mega-project
.question 
	:markdown
		There has been a huge amount of pressure to build the most expensive public works project in the region’s history, the five-mile long highway project known as the Columbia River Crossing. Despite being a multi-billion dollar project, bicycle and pedestrian facilities involved are substandard, including an under-highway mile-long path that is mostly only minimum-width and a five-block corkscrew detour into Vancouver, all for a facility designed to serve the next 100 years. The project is diverting billions of dollars from other regional priorities to build an expansion that won’t solve congestion. What are your views on the mega-project? What, if anything, will you do to stop funding for this mega-project until it becomes consistent with our biking, pedestrian, and climate goals, as well as our budgetary priorities? Would you work to stop the City of Portland from lobbying for funding for it at the state and federal levels?
.answer 
	:markdown
		I support moving ahead on this public works project. However, we need to value engineer or “right size” it. We need to find a fiscally responsible forecast for revenues. And we need to be clear about the governance and who has what liabilities for this project. The Legislature is beginning to answer these questions. With the Governors now clearly in the lead, we have a regional project that is moving forward. I give a lot of credit to Treasurer Wheeler and economist Joe Cortright for helping to clarify the assumptions of this project.

		I know many people are tempted to say we should restart this project entirely, especially since we have spent over $140 million just in the planning phase. It appears that government has once again run amok in getting us to this point. However, if we restart this project it may be another 6 to 10 years (or longer, given fiscal constraints nationally) before we can leverage the federal funding for a similar project. By that time the cost of materials may have increased significantly. We may lose our opportunity to extend light rail to Vancouver, install a bike and ped Columbia River crossing, add seismic upgrades to our bridge, increase safety and travel time for our freight and auto drivers and put people to work at the same time.

		I strongly support starting a congestion tolling/pricing program as soon as practical to help financially support this project and help address environmental impacts that come from idling and congestion.

%h3 transportation equity
.question
	:markdown
		While light rail and streetcar efforts have generally managed to find funding over the past two decades, bus investments have been cut. At the same time, transportation costs are often more than 20% of a household’s budget, and many households are too poor to drive to meet all of their daily needs. How would you ensure low-income communities receive equitable investments to improve their access to transportation? How should the Office of Equity influence transportation decisions?
.answer
	:markdown
		Transportation is an essential component of a livable neighborhood. As Mayor, I will find the common ground necessary to make our under-served neighborhoods in Portland as livable and safe as any other neighborhood in our city. I intend to keep the Office of Equity in my portfolio and work with the Office on the critical needs of our city, including job development and transit to school and work.

%h3 economic development
.question
	:markdown
		Portland State University research has found stores adjacent to bike corrals (on street bike parking) have experienced increased foot traffic. Travel Oregon has used bikes as a significant theme in their advertising for tourists and attracting the creative class. Do you see investments in biking, walking, and taking transit as effective and efficient tools for economic development? If so, how forcefully and publicly will you make this case?
.answer
	:markdown
		Economic and job development is the number one driving issue that brought me into the race for mayor. Portland can be a great place to live, but a tough place to find a job or make a living. Let me just quote and note my agreement with the Transportation System Plan’s assessment that transportation must be a critical pillar for a strong economy, “Active transportation can drive economic development by supporting local businesses and ensuring that residents have multiple options for access to work, health care, educational opportunities, shopping and other destinations. When even one member of a household can make some trips on foot, by bike, or public transit for assistance with longer trips, that household’s transportation costs can be lowered. Active transportation leads to healthier communities when people incorporate more physical activity into their daily lives through biking and walking. And, active transportation has important equity impacts by providing free to low cost transportation.”

%h3 past accomplishments
.question
	:markdown
		Do you have any specific accomplishments improving biking, walking and transit in Oregon or other places?
.answer
	:markdown
		I have served on the Metro Blue Ribbon Bike Trails Commission. I was highly motivated to figure out how to reduce the cost of building bike trails or “active transportation” trails. It was estimated that an average mile of bike trail, without the cost of the land, is conservatively $1 million – an astounding figure to me. If we were to actually build the 500 miles of trails it would cost $500 million, putting this goal out of reach for decades. So, I became very interested in how we could reduce the cost of installing these trails. Based on my conversations with Metro and the inventory of barriers to trail development analysis that I requested, I concluded that we could significantly reduce costs if we built more than one segment of trail at the same time, reduced state and federal overhead charges and used standards for construction that are based on bike trail requirements, not roadway requirements. Flexible, or outcomes oriented design/build standards would add to the ease of installation and the reduction in costs. All of these, if implemented, could help us spread our precious trail development dollars out so that we could fund more miles of trails.

		In addition, I have been involved in many planning meetings about how to open neighborhood grocery stores that locate adjacent to transit, use less parking spaces and more bike spaces. I think New Seasons Market has several examples, notably in denser neighborhoods, where this has worked well. The SE Hawthorne Street store has parking on the roof and many bike parking options.

		I was on the Board of Directors of Zenger Farm in East Portland for six years, first serving as a member and then as Chair. This field trip destination farm sits right next to the Springwater Corridor trail. I have great hopes that our vision for having Zenger be a destination on the trail will come to fruition.

%h3 campaign viability
.question
	:markdown
		What makes you a viable candidate?
.answer
	:markdown
		I have raised a family here, sent my kids to public schools here, and helped build five landmark Portland organizations – Nature’s, New Seasons Market, Ecotrust, Zenger Farm and the Chinookbook. I know it is possible to have a vibrant economy and stay true to Portland’s values – including making sure that all Portland’s neighborhoods are livable.

		Portland can be a great place to live and a great place to work. All of our neighborhoods can be safe and livable. We can have a public school system that educates all our kids for the 21st century. We can have an innovative, creative economy that is one of the best places to be an entrepreneur in the country. We can have a community that has good jobs with healthcare for its residents. And we can have a well managed city that has a few key priorities and does not stray from the critical path of implementing its long term livability agenda.

		I am driven to build a vibrant, equitable and progressive local economy with good jobs and excellent entrepreneurial opportunities. This message is resonating across a diverse spectrum of many groups, neighbors and organizations. I have a large and active number of supporters and endorsers. See some of them on my website under Supporters (www.eileenformayor.com/supporters). In addition, I have a experienced staff, a long list of volunteers and a plan to win. I am confident I am a viable candidate.

%h3 your turn
.question 
	:markdown
		Anything to add?
.answer
	:markdown
		I have been a part time bike commuter for most of my life. My friends and colleagues can tell you stories of me arriving to meetings wet but happy, my Nutcase helmet in one hand and my pannier/purse in the other. I have an old Trek 7500 that I purchased at the Bike Gallery about twelve years ago that is my trusty “steed.” I also have an old steel, custom frame road bike that has been on many a ride with me over this beautiful country in Oregon including my first metric century on the Monster Cookie ride, my first 100 mile ride in and around Trout Lake, Washington, a Cycle Oregon ride through Baker City, Halfway and other wonderful Oregon towns in Northwestern Oregon. My road bike, nicknamed, “journey21,” has been such a good friend, that I took “journey21” as my personal email handle many years ago. My family is an outdoors and athletic family and we pride ourselves on our walking and biking adventures. In fact, my son is now an Olympic hopeful and works as a professional triathlete.

		I would be honored to have your endorsement and to work with you on implementing Portland’s vision for multi-modal transit, a long standing component of our nationally known livability agenda.