title: about
description: About Bike Walk Vote
author: Bike Walk Vote PAC
---------------------------------------------META

%h2#about About Us

:markdown
  ### Who We Are

  Bike Walk Vote works to elect candidates who best support Oregon's bicyclists, pedestrians, and transit riders. We also work on ballot measures and important legislative issues.

  Formed in 2004, we have worked in elections in 2004, 2006, and 2008. Our endorsed candidates and measures won 15 of 19 elections.

  After a hiatus in 2010, we have relaunched Bike Walk Vote. Our first action was endorsing Alissa Keny-Guyer for appointment to the Oregon legislature, an appointment she won. After an intense 2012 primary and general season (see 2012 Victories, below), we are now looking forward to a busy 2013 legislative session!

  ### Our Unique Value

  As a political action committee, Bike Walk Vote goes where most non-profits cannot - directly into candidate elections. We endorse candidates and work to elect our strongest allies. While advocacy, organizing, education and lobbying are all valuable activities, the most influential action is electing the right people in the first place.

%h3 The People
%p Bike Walk Vote is run by an eight person volunteer steering committee who represent a cross-section of skills and interests in the biking, walking, and transit community.
%ul#steering
  %li
    %h4#peter-welte Peter Welte, chair
    %p Peter loves bike touring and backpacking, but has just as much fun organizing for better walking and biking environments.
    %p Outside of BWV, Peter enjoys web development and working on Open Source projects.
    %p Peter's goal is for Bike Walk Vote to go global within 5 years.
  %li
    %h4#jodi-jacobsonswartfager Jodi Jacobson-Swartfager, treasurer
    %p
      A Spokane native, Jodi moved to Portland in 2000 and immediately fell in love with Portland's bike scene.
      She's currently enrolled in Portland State University's Masters of Urban and Regional Planning program.
      She can't wait to see the world covered with bike lanes.
  %li
    %h4#jeff-jacobsonswartfager Jeff Jacobson-Swartfager, creative director
    %p Jeff is the head of Press at an education and consultant company in Vancouver, WA. He also works as a freelance graphic designer.
    %p Jeff loves his wife and his bike.
    %p His mustache tickles.
  %li
    %h4#beth-flanagan Beth Flanagan, volunteer director
    %p Beth has legs of steel and a passion for design.  Seriously, if Bike Walk Vote had a cyclocross team, we'd make her our Captain.  When not racing or working with us, you can find her helping out at groups like OLCV and 1000 Friends of Oregon.
  %li
    %h4#michael-oleary Michael O’Leary, communications director
    %p Michael is a political consultant on climate change and fuel choice campaigns. Michael has taught youth bike safety education in Portland Public Schools and adult traffic safety for Multnomah County Circuit Court. Prior to working on environmental sustainability issues, Michael served as a union organizer for local janitors and healthcare workers.
  %li
    %h4#tara-gallagher Tara Gallagher
    %p Tara moved to Portland in 2007 and immediately bought a bicycle. While attending law school at Lewis & Clark, she became a transportation advocate fighting for better and safer routes up the west hills. She looks forward to the day when biking is the norm and every kid has a safe route to school.
  %li
    %h4#lisa-marie-white Lisa Marie White
    %p A bike, pedestrian, and sometimes skateboard commuter, Lisa is passionate about creating infrastructure that unites communities and helps people experience their neighborhood.
    %p With a background in Nursing, Public Relations, and Marketing, outreach and connecting with people is Lisa’s forte. So is conquering crazy hills and crushing century rides.
    %p Outside of BWV, you can find Lisa on the streets or in the woods being active, or inside absorbing one of three books on constant rotation.
  %li
    %h4#charlie-burr Charlie Burr
    %p Charlie is a communications consultant and veteran of numerous political campaigns. He lives in northeast Portland, where he can be frequently seen hauling his daughter Marigny around town via cargo bike. In addition to his involvement with Bike Walk Vote, Charlie serves as chair of OLCV's political action committee, helping to elect environmental champions around the state.

:markdown
  ### The Questionnaire

  We continually work to have our questionnaires inform candidates about the most current issues in the bike, walk, and transit communities. Each race may have a different questionnaire, which helps inform our endorsement decisions. We also sometimes supplement written questionnaires with in-person interviews.

  Curious what issues we're asking about? We had [these Mayoral race questions](/questions.pdf "questions for the next Mayor \(PDF\)") on display at the 2011 Launch Party.

  Interestested in the candidates' answers to the questionnaire? We are posting their answers on our [candidates](/candidates.html "the candidates' responses to the bike walk vote questionnaire") page.


%h3 2012 Victories
%ul.people
  %li
    %h3 Jeff Reardon
    %p Electing Jeff Reardon as the Democratic nominee in House District 48. Reardon took out a ten-year incumbent, the vehemently pro-CRC Mike Schaufler. It was the first time in nearly 20 years that a Democratic incumbent has been taken out in the primary.
  %li
    %h3 Bob Stacey
    %p Electing Bob Stacey to the Metro Council. Stacey is a lifelong advocate for livable communities and transportation choices, and an eloquent opponent of the CRC highway mega-project.
  %li
    %h3 Sam Chase
    %p Electing Sam Chase to the Metro Council. Affordability advocate Chase got over 58% of the vote in a five-person race, avoiding a November runoff.
  %li
    %h3 Dick Schouten
    %p Re-electing Commissioner Dick Schouten in Washington County. Schouten, the leading voice for transportation choices in Oregon’s second-most populous county, beat back a well-funded opponent to earn re-election.

%p We Thank you for helping making this happen. We couldn’t have done it without you.
