title: contribute
description: Support Bike Walk Vote
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 form test
%form{:action => "mailto:jeff.ja@gmail.com"}
  %input{:name => "field1", :type => "text", :autofocus => "autofocus"}
  %input{:type => "submit", :value => "email me"}