title: home
description: Overview of Bike Walk Vote
author: Bike Walk Vote PAC
---------------------------------------------META

%p
  <strong>Bike Walk Vote PAC</strong> is the political voice for Oregonians who bike, walk, or take transit. We work to elect candidates who will best support transportation choices and livable communities.

%h2 Upcoming
%p
  Bike Walk Vote is one of an ever-growing number of groups fighting the CRC mega freeway boondoggle. Interested in learning more about the CRC, our work, and how you can help? Come to the party!
%p
  At 7:30pm on Friday, February 1st, 2013 at
  %a{:href=>"http://crankpdx.com/"}Cránk Bicycles
  \, join us for <br>
  %a{:href=>"https://www.facebook.com/events/466249680103161/"} We Can Do Better: A night of information and democratic action to stop the CRC
  \.

%h2 Volunteer
%p
  Bike Walk Vote is a 100% grassroots, volunteer-driven organization.  Everything we do depends on people like yourself volunteering: everything from knocking on doors and making phone calls to organizing events and lobbying legislators. If you're interested in helping, contact Volunteer Coordinator Beth Flanagan by emailing us at
  %a{:href=>"mailto:beth@bikewalkvote.org?subject=volunteer"} beth@bikewalkvote.org
  \.

%h2 Contribute!
%p
  Elections require money to reach voters. We need your help to get our message out and to help elect the candidates who will best support transportation choices!

%a{:href=>"/contribute.html"} Click here to give

%p
  In Oregon, the first $50 per individual and $100 per couple is eligible for Oregon’s political tax credit – meaning each dollar you give comes back to you at tax time. Donations to Bike Walk Vote PAC qualify for this credit! Learn more (link to oregontaxcredit.com).

/ Begin MailChimp Signup Form
#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{:action => "http://pdx.us1.list-manage.com/subscribe/post?u=c4d3147703bee687b89582662&id=c2b6f3b8c5", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
    %h3 want to stay up to date?
    %p Subscribe to our mailing list!
    %fieldset
      %label{:for => "mce-EMAIL"} your email address
      %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}
        .clear
          %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe!"}/
/ End mc_embed_signup
