title: endorsement process
description: The Bike Walk Vote endorsement process
author: Bike Walk Vote PAC
---------------------------------------------META

%h3 what they said
%p We didn’t make this decision lightly, but had a written questionnaire, an in-person interview, a shared bike commute, and a public forum with each of the candidates. We also reviewed what they’ve been saying for the past six months to other people.
%ul#stories
  %li
    %h4 Jefferson Smith
    %p
      Download
      %a{:href => "/questionnaires/smith.pdf", :title => "Jefferson Smith's responces to the bike walk vote questionnaire"} Smith’s responses
      to our questionnaire.
  %li
    %h4 Charlie Hales
    %p
      Download
      %a{:href => "/questionnaires/hales.pdf", :title => "Charlie Hales' responces to the bike walk vote questionnaire"} Hales’ responses
      to our questionaire.
  %li
    %h4 Eileen Brady
    %p
      Download
      %a{:href => "/questionnaires/brady.pdf", :title => "Eileen Brady's responces to the bike walk vote questionnaire"} Brady’ responses
      to our questionaire.