title: Questionaire responses
description: Candidates' answers to the Bike Walk Vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META
  
%h2 Questionaire responses

:markdown
  As part of our [endorsement process](/process.html "learn about our endorsement process") we asked the candidates to fill out a written questionaire. Here's how they responded.

%h3 portland mayoral democratic primary
%ul
  %li.endorsed 
    %a{:href => "/responses/mayor/jefferson-smith.html", :title => "Jefferson Smith's responses to the questionaire"}Jefferson Smith
  %li 
    %a{:href => "/responses/mayor/charlie-hales.html", :title => "Charlie Hales' responses to the questionaire"}Charlie Hales
  %li 
    %a{:href => "/responses/mayor/eileen-brady.html", :tiltle => "Eileen Brady's responses to the questionaire"}Eileen Brady

%h3 portland city council: position 1
%ul
  %li.endorsed
    %a{:href => "/responses/portland-city-council-position-1/mary-nolan.html", :title => "Mary Nolon's responses to the questionaire"}Mary Nolan
  %li
    %a{:href => "/responses/portland-city-council-position-1/amanda-fritz.html", :title => "Amanda Fritz's responses to the questionaire"}Amanda Fritz

%h3 portland city council: position 4
%ul
  %li.endorsed
    %a{:href => "/responses/portland-city-council-position-4/steve-novick.html", :title => "Steve Novick's responses to the questionaire"}Steve Novick
    
%h3 metro council: seat 3
%ul
  %li.endorsed
    %a{:href => "/responses/metro-council-seat-3/craig-dirksen.html", :title => "Craig Dirksen's responses to the questionaire"}Craig Dirksen

%h3 metro council: seat 5
%ul
  %li.endorsed
    %a{:href => "/responses/metro-council-seat-5/sam-chase.html", :title => "Sam Chase's responses to the questionaire"}Sam Chase
  %li
    %a{:href => "/responses/metro-council-seat-5/brad-perkins.html", :title => "Brad Perkins' responses to the questionaire"}Brad Perkins
  %li
    %a{:href => "/responses/metro-council-seat-5/helen-ying.html", :title => "Helen Ying's responses to the questionaire"}Helen Ying

%h3 metro council: seat 6
%ul
  %li.endorsed
    %a{:href => "/responses/metro-council-seat-6/bob-stacey.html", :title => "Bob Stacey's responses to the questionaire"} Bob Stacey

:markdown
  ### washington county commissioner: district 1

  * Dick Schouten

  ### oregon state legislature: house district 36

  * Sharon Meieran
  * Bruce Neal
  * Jennifer Williamson

  ### oregon state legislature: house district 46

  * Alissa Keny-Guyer

  ### oregon state legislature: house district 47

  * Jessica Vega Pederson
  * Thuy Tran

  ### oregon state legislature: house district 48

  * Jeff Reardon