title: Questionaire Responces
description: Candidates' answers to the Bike Walk Vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META
  
%h2 Questionaire Responces

:markdown
  As part of our [endorsement process](/process.html "learn about our endorsement process") we asked the candidates to fill out a written questionaire. Here's how they responded.

%h3 portland mayoral democratic primary
%ul
  %li.endorsed 
    %a{:href => "/responces/mayor/jefferson-smith.html", :title => "Jefferson Smith's responces to the questionaire"}Jefferson Smith
  %li 
    %a{:href => "/responces/mayor/charlie-hales.html", :title => "Charlie Hales' responces to the questionaire"}Charlie Hales
  %li 
    %a{:href => "/responces/mayor/eileen-brady.html", :tiltle => "Eileen Brady's responces to the questionaire"}Eileen Brady

%h3 portland city council: position 1
%ul
  %li.endorsed
    %a{:href => "/responces/portland-city-council-position-1/mary-nolan.html", :title => "Mary Nolon's responces to the questionaire"}Mary Nolan
  %li
    %a{:href => "/responces/portland-city-council-position-1/amanda-fritz.html", :title => "Amanda Fritz's responces to the questionaire"}Amanda Fritz

:markdown
  ### portland city council: position 4

  * Steve Novick

  ### metro council: seat 3

  * Craig Dirksen

  ### metro council: seat 5

  * Sam Chase
  * Brad Perkins
  * Helen Ying

  ### metro council: seat 6

  * Bob Stacey

  ### washington county commissioner: district 1

  * Dick Schouten

  ### oregon state legislature: house district 36

  * Sharon Meieran
  * Bruce Neal
  * Jennifer Williamson

  ### oregon state legislature: house district 46

  * Alissa Keny-Guyer

  ### oregon state legislature: house district 47

  * Jessica Vega Pederson
  * Thuy Tran

  ### oregon state legislature: house district 48

  * Jeff Reardon