title: about
description: About Bike Walk Vote
author: Bike Walk Vote PAC
---------------------------------------------META

%h2#about About Us

%h3 who we are
%p Bike Walk Vote works to elect candidates who best support Oregon's bicyclists, pedestrians, and transit riders. We also work on ballot measures.
%p Formed in 2004, we have worked in elections in 2004, 2006, and 2008. Our endorsed candidates and measures won 15 of 19 elections.
%p After a hiatus in 2010, we have relaunched Bike Walk Vote. Our first action was endorsing Alissa Keny-Guyer for appointment to the Oregon legislature, an appointment she won. We are now ramping up for a busy 2012 election year.
%h3 our unique value
%p As a political action committee, Bike Walk Vote goes where most non-profits cannot - directly into candidate elections. We endorse candidates and work to elect our strongest allies. While advocacy, organizing, education and lobbying are all valuable activities, the most influential action is electing the right people in the first place.

%h3 the people
%p Bike Walk Vote is run by an eight person volunteer steering committee who represent a cross-section of skills and interests in the biking, walking, and transit community.
%ul#steering
  %li
    %h4#evan-manvel Evan Manvel, co-chair
    %p Evan served as Executive Director of the Bicycle Transportation Alliance from 2005 to 2007, and as the Legislative Director for the Oregon League of Conservation Voters in 2008 and 2009. He has also served as campaign manager for Robert Liberty and Paul van Orden. He is now the Principal of Manvel Public Affairs.
  %li
    %h4#peter-welte Peter Welte, co-chair
    %p Peter loves bike touring and backpacking, but has just as much fun organizing for better walking and biking environments.
    %p Outside of BWV, Peter enjoys web development and working on Open Source projects.
    %p Peter's goal is for Bike Walk Vote to go global within 5 years.
  %li
    %h4#jodi-jacobsonswartfager Jodi Jacobson-Swartfager, treasurer
    %p
      A Spokane native, Jodi moved to Portland in 2000 and immediately fell in love with Portland's bike scene.
      She's currently enrolled in Portland State University's Masters of Urban and Regional Planning program.
      She can't wait to see the world covered with bike lanes.
  %li
    %h4#jeff-jacobsonswartfager Jeff Jacobson-Swartfager, creative director
    %p Jeff is the head of Press at an education and consultant company in Vancouver, WA. He also works as a freelance graphic designer.
    %p Jeff loves his wife and his bike.
    %p His mustache tickles.
  %li
    %h4#steph-routh Steph Routh, token walker
    %p When not working with Bike Walk Vote, you can find Steph geeking out on transportation wonkery or leading the charge for pedestrian safety with the Willamette Pedestrian Coalition.  She has also been known to throw a mad dance party.  And she speaks Chinese fluently.
  %li
    %h4#beth-flanagan Beth Flanagan, volunteer director
    %p Beth has a passion for design and legs of steel.  Seriously, if Bike Walk Vote had a cyclocross team, we'd make her our Captain.  When not racing or working with us, you can find her helping out at groups like OLCV and 1000 Friends of Oregon.
  %li
    %h4#heidi-guenin Heidi Guenin, policy director
    %p Heidi is the Transportation Policy Coordinator for Upstream Public Health. She loves good company, good beer, and good bakeries. She's also a huge transportation wonk (possibly more so than Steph even, which is saying a lot).
  %li
    %h4#michael-oleary Michael O’Leary, communications director
    %p Michael is a political consultant on climate change and fuel choice campaigns. Michael has taught youth bike safety education in Portland Public Schools and adult traffic safety for Multnomah County Circuit Court. Prior to working on environmental sustainability issues, Michael served as a union organizer for local janitors and healthcare workers.
  %li
    %h4#kathryn-dohertychapman Kathryn Doherty-Chapman, secretary
    %p Kathryn Doherty-Chapman is a Portland native who recently returned after working in bicycle education and community development in Philadelphia. She is currently pursuing a Masters of Urban and Regional Planning at Portland State University and wants to see Americans from ages 8–80 walking and bicycling comfortably and safely in her lifetime.
    %p She once played drums in two bands at the same time, now she only plays in half of one band, and only sometimes.

%h3 The Questionnaire
%p We continually work to have our questionnaires inform candidates about the most current issues in the bike, walk, and transit communities. Each race may have a different questionnaire, which helps inform our endorsement decisions. We also sometimes supplement written questionnaires with in-person interviews.
%p
  Curious what issue's we're asking about?  We'll have
  %a{:href => "/questions.pdf", :title => "questions for the next Mayor (PDF)"} these Mayoral race questions
  on display at the 2011 Launch Party.