title: contribute
description: Support Bike Walk Vote
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Contribute!
%p Campaigns run on two fuels: money and volunteers.
%p
  We need your financial support, which allows us to print materials, run the organization, and reach voters. Oregon has a unique state law that allows the first $50 from individuals, and the first $100 from couples filing jointly, to qualify for a political tax credit. Give us $50, get $50 back at tax time. Learn more about it on <a href="http://oregontaxcredit.com/" title="about the Oregon Political Tax Credit">on an easy to read site</a> or read the <a href="http://www.oregon.gov/DOR/PERTAX/2009_piti/credits_political_contributions.shtml" title="Oregon's department of revenue on political contributions">full tax law</a>.
%p
  We also need your volunteer time to help build our organization and elect the candidates we endorse. To volunteer, email us at <a href="mailto:bikewalkvote@gmail.com?subject=I want to volunteer!" title="volunteer for bike walk vote">bikewalkvote@gmail.com.</a>

%h3 Donating
%p Bike Walk Vote is required to report donation information to the Elections Office. The information is publicly available in order to ensure campaign finance transparency as required by law. Bike Walk Vote will never use or give away this information outside of what is legally required of us as a Political Action Committee.
%form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
  %input{:name => "cmd", :type => "hidden", :value => "_xclick"}
    %input{:name => "business", :type => "hidden", :value => "bikewalkvote@gmail.com"}
      %h3 How much do you want to donate?
      %fieldset
        %p
          $
          %input{:name => "amount", :type => "text", :value => "50"}/
        %input{:name => "no_shipping", :type => "hidden", :value => "0"}
        %input{:name => "no_note", :type => "hidden", :value => "1"}
        %input{:name => "currency_code", :type => "hidden", :value => "USD"}
        %input{:name => "lc", :type => "hidden", :value => "US"}
        %input{:name => "bn", :type => "hidden", :value => "PP-BuyNowBF"}
        %input{:name => "return", :type => "hidden", :value => "http://bikewalkvote.org/payment-complete.html"}
        %input{:type => "submit", :value => "Pay with a credit card through PayPal"}