title: home
description: Overview of Bike Walk Vote
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Bike Walk Vote Endorses Jefferson Smith for Mayor
%p
  %strong Portland
  February 17, 2012.
%p
  Bike Walk Vote, the political arm of Portland’s biking, walking, and transit community has decided to endorse
  = succeed "." do
    %a{:href => "http://www.jeffersonsmith.com/", :title => "Jefferson Smith for Mayor"} Jefferson Smith for Mayor
  Jefferson Smith sets himself apart from the other candidates with his compelling
  %em commitment to promoting equitable transportation
  investments in underserved Portland communities, and his unequivocal cost-conscious critique of the proposed
  %em Columbia River Crossing
  supports the smartest path for saving the most taxpayer dollars while moving people and freight.
%p
  %a{:href => "/media/stories/jefferson-smith-for-mayor.html", :title => "bike walk vote endorses Jefferson Smith"}> Permalink
  \.


%hr
%h3 what they said
%p We didn’t make this decision lightly, but had a written questionnaire, an in-person interview, a shared bike commute, and a public forum with each of the candidates. We also reviewed what they’ve been saying for the past six months to other people.
%ul#stories
  %li
    %h4 Jefferson Smith
    %p
      Download
      %a{:href => "/questionnaires/smith.pdf", :title => "Jefferson Smith's responces to the bike walk vote questionnaire"} Smith’s responses
      to our questionnaire.
  %li
    %h4 Charlie Hales
    %p
      Download
      %a{:href => "/questionnaires/hales.pdf", :title => "Charlie Hales' responces to the bike walk vote questionnaire"} Hales’ responses
      to our questionaire.
  %li
    %h4 Eileen Brady
    %p
      Download
      %a{:href => "/questionnaires/brady.pdf", :title => "Eileen Brady's responces to the bike walk vote questionnaire"} Brady’ responses
      to our questionaire.

/ Begin MailChimp Signup Form
#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{:action => "http://pdx.us1.list-manage.com/subscribe/post?u=c4d3147703bee687b89582662&id=c2b6f3b8c5", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
    %h3 want to stay up to date?
    %p Subscribe to our mailing list!
    %fieldset
      %label{:for => "mce-EMAIL"} your email address
      %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}
        .clear
          %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe!"}/
/ End mc_embed_signup