title: Steve Novick | Questionaire Responce
description: Steve Novick's responses to the bike walk vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Steve Novick
:markdown
	Download a [PDF of Steve Novick's responses](/responses/portland-city-council-position-4/novick.pdf "A PDF Steve Novick's responses to the bike walk vote questionnaire").

%h3 general approach
.question 
	:markdown
		Portland’s Climate Action Plan demands we drastically reduce driving from current levels. The Portland Plan aims to create 20-minute neighborhoods in Portland, places where people can get around quickly and easily by walking or biking (with 70% of commute trips in 2035 by foot, transit, or bike). Right now only 27% of commute trips are on foot, transit, or bike. Why do you think more Portlanders do not walk, bike, or take transit for transportation, and what will you do to help Portland meet its goals and become an even better city to walk, bike and ride transit?
.answer
	:markdown
		For the usual reasons: they aren’t near transit, or it doesn’t run often enough, or they have to transfer and the second line doesn’t run often enough, or there aren’t sidewalks to walk on, or the destination (job/ grocery store/school) is too far away to walk, all of those things. I will support zoning policies that lead to more 20-minute neighborhoods; there are still places in the city with long stretches of residential-only, which means shops and jobs aren’t where the people are. I will support additional measures to promote density, which makes transit more viable; in some paces, that will mean modifying building height limits. And I will support additional investments in sidewalks, bike lanes and transit, as feasible.

%h3 fair funding share
.question
	:markdown
		One of every four Portland residents (about 150,000 people) is too young, old, infirm or poor to drive. Would you support a city policy to dedicate at least that percentage (25%) of PBOT’s budget for walking, biking, and access to transit projects?
.answer
	:markdown
		That sounds like a fine aspirational goal, but I confess that I simply don’t know, given State law restrictions on the use of the gas tax, and the amount of PBOT funds that come from the gas tax, how feasible that is. I am willing to consider pursuing additional revenues from more flexible sources; see answer to question 5.

%h3 contributing to transit’s success
.question
	:markdown
		Transit is the backbone of our regional transportation system. The Federal Transit Administration considers a 3-mile radius around transit stops to be the catchment area for linking walking and biking to transit. While the city does not run the transit system, it provides access to transit, some of the sidewalks at transit stops, subsidizes the streetcar, and helps pay for transit youth passes. Which investments would you prioritize to support the transit system?
.answer
	:markdown
		I’d prioritize the measures that get the most value for the least money and that serve the least well served people. I could be misinformed, but my impression is that adding sidewalks and bike lanes in some places to improve access to existing transit is cheaper than building more streetcars. I have heard an earful from outer East Siders about the lack of and need for frequent service on 122d; it seems to me that if the city can subsidize other forms of transit, it could subsidize bus service in underserved areas, too.

%h3 critical pedestrian investments
.question
	:markdown
		For most of the last decade, the Portland Bureau of Transportation has spent about $50,000 a year on new sidewalks, which has done little to meet long-standing needs in historically underfunded areas. Engineering requirements, right-of-way shortages, and other factors mean sidewalks are expensive to build (though compared to highway interchanges, they’re very cheap). How can we create more safe space for people to walk in difficult budget times?
.answer
	:markdown
		Last week I heard an earful from a prominent East Portlander about the failure of the city to enforce its own rules requiring developers to include sidewalks in new development. Following those rules seems like a good place to start. I have also heard arguments for creating walkable surfaces short of (and less expensive than) true sidewalks, e.g., extending asphalt past the side of the street. I don’t know if that would meet ADA or other legal requirements, but it sounded worth investigating.

%h3 funding shortfalls and innovation
.question
	:markdown
		PBOT has a $16 million budget shortfall for 2012, and ODOT is dramatically short of funds, and falling behind on maintenance responsibilities. Meanwhile, we still lack complete networks of safe ways to get around without a car. Many economists and transportation advocates are excited about the idea of using pricing signals to improve our transportation system. Congestion pricing, demand-responsive parking rates, street maintenance fees, and internalizing the externalized costs and benefits of transportation modes (for example, the CDC estimates $1000 in annual health care savings from every active person) are especially promising. What would you do to bring in more money for our transportation needs? Do you support parking taxes, street fees, or demand-responsive parking rates?
.answer
	:markdown
		I am very interested in demand-response parking rates. My interest was piqued by Tom Vanderbilt’s summary of Donald Shoup’s ideas in “The High Cost of Free Parking.” I am open to a discussion of parking taxes (on big-box stores for example) as well. And congestion pricing.

%h3 choices and public perception
.question
	:markdown
		Critics of bicycle, pedestrian, and transit projects mistakenly contend cyclists, pedestrians, and transit users don’t pay their fair share in road taxes and other user fees. How would you make the case for allocating funds and limited street space for bicycle, pedestrian, and transit projects?
.answer
	:markdown

%h3 cross-department collaboration
.question
	:markdown
		There is significant concern about the silos between departments in the city – an issue that has been noted by candidates for years. A recent partnership between the Bureaus of Environmental Services and Transportation to get traffic safety benefits through smart sewer investments became very controversial. What would you have done differently? Where the goals of PBOT overlap with the goals of various other departments (for example, sustainability, equity, public safety, parks, water), what would you do to improve collaboration to most efficiently use our resources?
.answer
	:markdown

%h3 traffic safety
.question
	:markdown
		Traffic-related crashes are the top cause of death and injury for Oregonians aged 1 to 34.  In 2011, 319 Oregonians were killed in traffic crashes, including 15 cyclists. Pedestrian injuries and deaths are a serious problem in Oregon, with one serious injury a day and one death a week.  In 2010, 18 pedestrians died in Portland. Traffic speed is the leading factor in crashes (even above alcohol), and one of the largest contributors to whether a crash is fatal. Is safety the highest priority of the transportation system? If so (or if not) what policy and implications does that have, especially when it comes to slowing cars and protecting vulnerable roadway users? What specific policies and projects would you support to improve safety?
.answer
	:markdown

%h3 CRC highway mega-project
.question 
	:markdown
		There has been a huge amount of pressure to build the most expensive public works project in the region’s history, the five-mile long highway project known as the Columbia River Crossing. Despite being a multi-billion dollar project, bicycle and pedestrian facilities involved are substandard, including an under-highway mile-long path that is mostly only minimum-width and a five-block corkscrew detour into Vancouver, all for a facility designed to serve the next 100 years. The project is diverting billions of dollars from other regional priorities to build an expansion that won’t solve congestion. What are your views on the mega-project? What, if anything, will you do to stop funding for this mega-project until it becomes consistent with our biking, pedestrian, and climate goals, as well as our budgetary priorities? Would you work to stop the City of Portland from lobbying for funding for it at the state and federal levels?
.answer 
	:markdown

%h3 transportation equity
.question
	:markdown
		While light rail and streetcar efforts have generally managed to find funding over the past two decades, bus investments have been cut. At the same time, transportation costs are often more than 20% of a household’s budget, and many households are too poor to drive to meet all of their daily needs. How would you ensure low-income communities receive equitable investments to improve their access to transportation? How should the Office of Equity influence transportation decisions?
.answer
	:markdown

%h3 economic development
.question
	:markdown
		Portland State University research has found stores adjacent to bike corrals (on street bike parking) have experienced increased foot traffic. Travel Oregon has used bikes as a significant theme in their advertising for tourists and attracting the creative class. Do you see investments in biking, walking, and taking transit as effective and efficient tools for economic development? If so, how forcefully and publicly will you make this case?
.answer
	:markdown

%h3 past accomplishments
.question
	:markdown
		Do you have any specific accomplishments improving biking, walking and transit in Oregon or other places?
.answer
	:markdown

%h3 campaign viability
.question
	:markdown
		What makes you a viable candidate?
.answer
	:markdown

%h3 your turn
.question 
	:markdown
		Anything to add?
.answer
	:markdown
