title: Steve Novick | Questionaire Responce
description: Steve Novick's responses to the bike walk vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Steve Novick
:markdown
	An HTML based version of Steve Novick's responses is on the way.

	In the meantime, download a [PDF of Steve Novick's responses](/responses/portland-city-council-position-4/novick.pdf "A PDF Steve Novick's responses to the bike walk vote questionnaire").

