title: Mary Nolan | Questionaire Responce
description: Mary Nolan's responces to the bike walk vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Mary Nolan
:markdown
	Download a [PDF of Mary Nolan's responces](/responces/portland-city-council-position-1/nolan.pdf "A PDF Mary Nolan's responces to the bike walk vote questionnaire").

%h3 general approach
.question 
	:markdown
		Portland’s Climate Action Plan demands we drastically reduce driving from current levels. The Portland Plan aims to create 20-minute neighborhoods in Portland, places where people can get around quickly and easily by walking or biking (with 70% of commute trips in 2035 by foot, transit, or bike). Right now only 27% of commute trips are on foot, transit, or bike. Why do you think more Portlanders do not walk, bike, or take transit for transportation, and what will you do to help Portland meet its goals and become an even better city to walk, bike and ride transit?
.answer
	:markdown
		Portland is among the best cities in the US for bicycle commuting, and somewhere in the middle to top of the pack on transit commuting, and we should acknowledge those successes. We can and should also aspire and invest to join the ranks of Amsterdam, Copenhagen, Beijing and lesser know bike-friendly cities like Curitiba, as well as New York, London, Tokyo and Munich among many with innovative, clean and ubiquitous transit service **[sic]**. While much of Portland (at least west of 82nd) originally developed around transit, American habits and public investments shifted dramatically after WWII to favor private cars. Oregon and Portland followed this trend. The impact has been exaggerated by the downtowncentric design of our transit system. And, let’s admit the winter weather doesn’t help.

		As a City Commissioner, I would support continued neighborhood planning that encourages the 20-minute concept, investments in sidewalk improvements (and adjustments in standards to accommodate the differing needs of the city’s differing neighborhoods), design, policy and investments in rain-sensitive infrastructure (bus shelters, bike shelters, pedestrian-ways, bikeways) and regulatory and modest financial support for innovative ideas like ride-sharing.

%h3 fair funding share
.question
	:markdown
		One of every four Portland residents (about 150,000 people) is too young, old, infirm or poor to drive. Would you support a city policy to dedicate at least that percentage (25%) of PBOT’s budget for walking, biking, and access to transit projects?
.answer
	:markdown
		I have actively supported state policies to improve the safety and accessibility of walking, biking and transit since 2001, and would take a leadership role in advancing similar policies at the city level, including moving closer to proportionate sharing of funds. We need to develop strong public support for significant increases in walk/bike/transit funding so that the argument about the tactics doesn’t overshadow the substance of the budget shift. I’m committed to making sure reasonable budget shifts are made because we’ve generated broad support. This will take effort and time up front, and will have much greater likelihood of staying power over time. I will continue to advocate for changes in state and federal law to allow more balanced spending of surface transportation dollars, and to raise sufficient revenues through approaches that assess the full cost of driving on the users.

%h3 contributing to transit’s success
.question
	:markdown
		Transit is the backbone of our regional transportation system. The Federal Transit Administration considers a 3-mile radius around transit stops to be the catchment area for linking walking and biking to transit. While the city does not run the transit system, it provides access to transit, some of the sidewalks at transit stops, subsidizes the streetcar, and helps pay for transit youth passes. Which investments would you prioritize to support the transit system?
.answer
	:markdown
		I have supported many transit and bike programs at the state level, including playing a key role in assuring the state’s share of the Milwaukie line of the MAX. Indeed, in 2007, the Milwaukie line was twice taken off the list of approved capital construction projects and as Co-Chair of Ways & Means, I twice ensured that it was put back on the list. As a result, we are now building the first bridge across the Willamette in over 40 years – and it is dedicated to walking, biking and transit.

		As a City Commissioner, I will continue to support the logical expansion and improvement of the MAX system, and also recognize that the majority of Portland area transit riders will continue to rely on bus service. My priorities for City support include passes for students in all 6 in-City school districts, as well as considering extending some level of financial support for students attending PSU and PCC, developing and implementing a plan to assure safe routes to school (or the bus to school) for all K-12 students, and shared investments with benefited businesses in other modes (such as streetcar).

%h3 critical pedestrian investments
.question
	:markdown
		For most of the last decade, the Portland Bureau of Transportation has spent about $50,000 a year on new sidewalks, which has done little to meet long-standing needs in historically underfunded areas. Engineering requirements, right-of-way shortages, and other factors mean sidewalks are expensive to build (though compared to highway interchanges, they’re very cheap). How can we create more safe space for people to walk in difficult budget times?
.answer
	:markdown
		I don’t have a magic wand that will fix this deficit, but I agree it’s an urgent one. I would support a combination of tactics, and am interested in pushing hard for an ambitious plan to make the whole city safe for walking, whether it’s walking to the neighborhood store or walking to the bus to get to work or school. That plan will likely include flexible standards that reflect the differing needs of neighborhoods, as well as innovative financing approaches to accumulate funds to building sidewalks and paths in a cost-effective manner.

%h3 funding shortfalls and innovation
.question
	:markdown
		PBOT has a $16 million budget shortfall for 2012, and ODOT is dramatically short of funds, and falling behind on maintenance responsibilities. Meanwhile, we still lack complete networks of safe ways to get around without a car. Many economists and transportation advocates are excited about the idea of using pricing signals to improve our transportation system. Congestion pricing, demand-responsive parking rates, street maintenance fees, and internalizing the externalized costs and benefits of transportation modes (for example, the CDC estimates $1000 in annual health care savings from every active person) are especially promising. What would you do to bring in more money for our transportation needs? Do you support parking taxes, street fees, or demand-responsive parking rates?
.answer
	:markdown
		I am particularly interested in evolving deliberately toward assessing the full cost of transportation options on the various modes (you call it internalizing the externalized costs). For long-term success, such an approach should have early visible successful pilots and a strategic public engagement process. We also need to develop strong coalitions with extensive membership and/or public information mechanisms to build public support. Much of Portland’s urban infrastructure was built (and paid for) by those who lived, worked and owned property here 50–100 years ago. We have taken it for granted, and will have to learn again how to make community investments in assets and services that improve livability and prosperity for all of us. I could support new revenue for transportation services with an emphasis on safety, health and lowering carbon footprint, and I’d be open to the innovative approaches proposed.

%h3 choices and public perception
.question
	:markdown
		Critics of bicycle, pedestrian, and transit projects mistakenly contend cyclists, pedestrians, and transit users don’t pay their fair share in road taxes and other user fees. How would you make the case for allocating funds and limited street space for bicycle, pedestrian, and transit projects?
.answer
	:markdown
		Your question astutely acknowledges that we have a public education challenge that has to underpin all our efforts to expand the effectiveness of all modes of transportation. I am most interested in (and committed to, as well as skilled at) expanding and solidifying the coalition of interest groups that is needed to change policy and budget decisions at the state and local level. It’s a good start that transit and multi-modal interests have joined (and pushed to re-name) the Oregon Transportation Forum (originally Oregon Highway Users Alliance). Making long-term strong professional and advocacy connections, and sharing information and analysis about successful comprehensive budgeting plans from comparable communities is key. I’ll help push this in bold and effective ways.

%h3 cross-department collaboration
.question
	:markdown
		There is significant concern about the silos between departments in the city – an issue that has been noted by candidates for years. A recent partnership between the Bureaus of Environmental Services and Transportation to get traffic safety benefits through smart sewer investments became very controversial. What would you have done differently? Where the goals of PBOT overlap with the goals of various other departments (for example, sustainability, equity, public safety, parks, water), what would you do to improve collaboration to most efficiently use our resources?
.answer
	:markdown
		Voters (and opinion-shapers including reporters) need much better information and transparency before they will change long-held assumptions and frames. I’ve developed and implemented grassroots efforts to move big, complex and controversial proposals, and would bring a sharp focus on building both the coalition and communication plan to garner broad support for innovative policies and practices. From my executive experience leading major city bureaus to my volunteer leadership of statewide progressive organizations and ballot measure campaigns to my stellar record of negotiating complex legislation, I’ve proven a capacity to bring together conflicting interests. Most importantly, I’ve been successful in working with environmental advocates, health care advocates, diverse business groups, labor unions, ratepayer interests and education groups because I’ve had effective working relationships with all of them for more than 20 years.

%h3 traffic safety
.question
	:markdown
		Traffic-related crashes are the top cause of death and injury for Oregonians aged 1 to 34.  In 2011, 319 Oregonians were killed in traffic crashes, including 15 cyclists. Pedestrian injuries and deaths are a serious problem in Oregon, with one serious injury a day and one death a week.  In 2010, 18 pedestrians died in Portland. Traffic speed is the leading factor in crashes (even above alcohol), and one of the largest contributors to whether a crash is fatal. Is safety the highest priority of the transportation system? If so (or if not) what policy and implications does that have, especially when it comes to slowing cars and protecting vulnerable roadway users? What specific policies and projects would you support to improve safety?
.answer
	:markdown
		Safety is certainly one of the highest priorities for the transportation system, and that should imply that in designing and operating the surface transportation elements we take advantage of the most current information and technology available. We should design streets with visual cues to calm traffic, time the traffic signals to optimize flow at safe speeds, and reduce glare and other driver distractions. Unambiguous markings and signals can be important factors in reducing the operational demands on drivers so full attention can be focused on safety.

		I supported legislation to prohibit texting while driving and limit use of voice communication to hands-free devices, reduce speeds in school zones and clarify pedestrian right-of-way (SB 424). I also helped move legislation that gives Portland and other cities more authority to manage local speeds and traffic conditions, and will continue to advocate for options that Portland can use to improve pedestrian and bike safety.

%h3 CRC highway mega-project
.question 
	:markdown
		There has been a huge amount of pressure to build the most expensive public works project in the region’s history, the five-mile long highway project known as the Columbia River Crossing. Despite being a multi-billion dollar project, bicycle and pedestrian facilities involved are substandard, including an under-highway mile-long path that is mostly only minimum-width and a five-block corkscrew detour into Vancouver, all for a facility designed to serve the next 100 years. The project is diverting billions of dollars from other regional priorities to build an expansion that won’t solve congestion. What are your views on the mega-project? What, if anything, will you do to stop funding for this mega-project until it becomes consistent with our biking, pedestrian, and climate goals, as well as our budgetary priorities? Would you work to stop the City of Portland from lobbying for funding for it at the state and federal levels?
.answer 
	:markdown
		We need to fix the I-5 bottlenecks both as it crosses the Columbia and at the Rose Garden/I-84 interchanges (in order to reduce energy waste, neighborhood congestion, and air pollution concentrations) and we need to meet seismic standards on the highway spans over the Columbia and Willamette Rivers. I support a project (or network of projects) that enhances air quality, improves freight mobility, is financially viable, benefits adjacent neighborhoods and can start work immediately. The currently approved “locally preferred option” does not meet all these standards. I have not yet studied the revised design released Thursday by the CRC staff, but it appears to create more problems rather than fewer, and moves away from addressing the most pressing needs (such as freight mobility and air quality).

		We should build the first great bridge of the 21st century, not a monument to antiquated 20th century standards. There is urgent work that could and should begin immediately on this corridor to create local construction jobs while by assisting local employers in expanding their payroll and benefitting neighborhoods through reductions in congestion and air quality problems.

		I am eager to apply my collaboration skills and ties to local, state and federal partners to help advance a workable solution that meets the needs of all modes.

%h3 transportation equity
.question
	:markdown
		While light rail and streetcar efforts have generally managed to find funding over the past two decades, bus investments have been cut. At the same time, transportation costs are often more than 20% of a household’s budget, and many households are too poor to drive to meet all of their daily needs. How would you ensure low-income communities receive equitable investments to improve their access to transportation? How should the Office of Equity influence transportation decisions?
.answer
	:markdown
		I have advocated for expanded authority for Tri-Met’s payroll tax and supported the 2010 bond measure for bus purchases (although sadly, not enough voters did). I have pushed hard to protect youth passes for students, and support finding ways to achieve at least partial subsidy for student passes for community colleges and PSU. I’ve supported legislation that facilitates grassroots car-sharing through more flexible insurance practices. As City Commissioner, I will work with leaders from communities of color, economic development services, environmental advocates, neighborhood leaders and business groups to build support for transit services, including adequate stable funding of both infrastructure and operations.

		Achieving equitable outcomes is first and foremost the responsibility of each elected member of the Council who in turn must demand that every city agency head set annual targets for improvement and demonstrate measurable progress. While an Office of Equity may gather and analyze data, the expectation and culture must be articulated, modeled and enforced by the Mayor and every City Commissioner. I will make this a priority.

%h3 economic development
.question
	:markdown
		Portland State University research has found stores adjacent to bike corrals (on street bike parking) have experienced increased foot traffic. Travel Oregon has used bikes as a significant theme in their advertising for tourists and attracting the creative class. Do you see investments in biking, walking, and taking transit as effective and efficient tools for economic development? If so, how forcefully and publicly will you make this case?
.answer
	:markdown
		Yes. Very.

%h3 past accomplishments
.question
	%p Do you have any specific accomplishments improving biking, walking and transit in Oregon or other places?
.answer
	:markdown
		I’ve already mentioned that I was pivotal in securing $250 million in state matching funds for the Milwaukie light rail extension. It is not an exaggeration to say that the project would not have been funded in 2007 if I had not used the power of my position as Co-Chair of Ways & Means to make it happen. I have earned an average of over 95% pro-environment voting record over 6 regular sessions from the OLCV, and supported bike- and walk-friendly legislation including SB 424 in 2011.

%h3 campaign viability
.question
	%p What makes you a viable candidate?
.answer
	:markdown
		I am uniquely qualified for Portland’s City Council which vests both legislative and executive responsibilities in 5 elected officials. Over eleven years in the Oregon legislature, I’ve led and/or negotiated and/or found the votes to pass big, important, controversial initiatives from the Healthy Kids Plan to protecting the statewide land use system to expanding college scholarships and more. My track record of successful coalition-building is well-known and respected, by allies and adversaries alike. I have managed large and complex organizations in private business and public service to bring about dramatic innovations.

		I’ve been elected to the legislature 6 times by wide margins in a district that is nearly entirely within the City of Portland. For more than 30 years, I have been actively engaged in providing leadership and financial support for some of the issues and organizations that matter the most to Portland voters: school funding, a woman’s right to choose, access to affordable health care, gay rights, environmental stewardship, land use planning, civil liberties and local performing arts. The following organizations and individuals have given me their exclusive endorsement in this race:

		* Planned Parenthood Advocates of Oregon
		* Portland Fire Fighters Association
		* Portland Police Association
		* Oregon State Council for Retired Citizens
		* NARAL ProChoice Oregon
		* Electricians Local 48
		* Longshoremen/Warehousemen Local 8
		* Gov. Barbara Roberts
		* Former Congresswoman Darlene Hooley
		* Former Secretary of State Norma Paulus
		* Former County Commissioner Lisa Naito
		* Senate Majority Leader Diane Rosenbaum
		* Rep. Jules Bailey
		* Rep. Mitch Greenlick
		* Former Rep. Ben Cannon

		The friends and allies I’ve worked side-by-side with over many hard-fought victories (and a few painful losses) are enthusiastically supporting me with contributions, grassroots outreach, volunteer time and public endorsements. I am meeting with voters in all corners of the city and receiving very positive response. Nearly 600 individuals have made financial contributions to my campaign and, with very frugal management, we have over $135,000 cash on hand to use communicating with voters (and we continue to receive an average of nearly 100 new contributions each month).

%h3 your turn
.question 
	%p Anything to add?
.answer
	:markdown
		I would be honored to earn your endorsement, and look forward to continuing to work closely with you to develop, fund and implement leading edge programs to expand bike/walk/transit.