title: Dick Schouten | Questionaire Responce
description: Dick Schouten's responses to the bike walk vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META
:maruku
	## Dick Schouten

	Download a [PDF of Dick Schouten's responses](/responses/washington-county-commissioner-district-1/schouten.pdf "A PDF of Dick Schouten's responses to the bike walk vote questionnaire").

	### appropriate funding
.question
	:maruku
		Results from a survey conducted in 2008 show that voters in Washington County would like a full 46% of county resources to go to projects for bicycles, pedestrians, and public transit.

		A clear majority of respondents (54%) also believe that cities and the county should invest less in roads and highways and more in projects focused on transit, bicycle, and pedestrian transportation. Additionally, 59% of respondents were more likely to support funding for bicycle and pedestrian paths if they are built away from (but still connect to) major roads. The preferences of Washington County residents are clear.

		What do you feel is an appropriate level of funding for bike and pedestrian infrastructure?
.answer
	:maruku
		Currently the County’s Major Street Improvement Projects (MSTIP) allocates roughly 20% of the right of way in arterials and major collector road for bike lanes and sidewalks. A tiny fraction of 1% of MSTIP funding is allocated for “stand alone” bike and ped projects. Stand alone bike and ped projects include: expansion and improvements of Regional Trails; cycle tracks and other bike and ped improvements that are physically separate from motorized traffic; and retrofitted bike and ped facilities and safety improvements, including new sidewalks along existing streets.

		The above allocation is far from satisfactory. For one: “59% of County respondents… support funding for bicycle and pedestrian paths if they are built away from (but still connect to) major roads,” so bike lanes along arterials may be using allocated MSTIP dollars, but this is not what a large majority of the public needs nor wants. Second: much more MSTIP money should be allocated for stand alone bike and ped projects. Stand alone bike and ped projects, physically separate from motorized traffic are critical if Washington County is serve the large number of “concerned but interested” residents who would walk and particularly bike if they felt it was safe to do so.

		The Washington County’s voters are ahead of the County’s elected leadership serving on the Washington County Coordinating Committee and the present majority of County Commissioners. If I had a third vote (preferably more) to do this, I would allocate 40 plus% of county transportation resources for bicycle, pedestrian, and public transit projects.

%h3 infrastructure
.question
	:maruku
		Given the strong support among county residents for bicycle and pedestrian infrastructure, what kind of infrastructure improvements would you like to see? What are your thoughts on bicycle lanes on arterials, cycle tracks, bike boulevards, as well as pedestrian facilities like sidewalks and crossings, and multi use paths?
.answer
	:maruku

%h3 funding and implementing active transportation projects
.question
	:maruku
		Metro is embarking on an Active Transportation Plan to engage the public and partners across the region to identify the region’s principal active transportation network to increase and enhance opportunities for walking, bicycling and accessing transit. The plan will include a framework for implementation and funding priorities. What specific projects do you see as being critical components of this network? As Councilor, how will you help engage the public and partners throughout the region to fund and implement active transportation projects?
.answer
	:maruku

%h3 transit investment
.question
	:maruku
		The Portland region has successfully implemented policies to expand transportation choices and reduce dependence on the automobile as the only way to travel. As increasing congestion and poor air quality threaten livability and the efficient movement of people and freight through the region, investment in transit (and access to transit) is critical to the continued economic vitality of the region. What criteria and project outcomes will you use to prioritize regional transit investments? Given those criteria and outcomes, are there specific regional transit investments (investments in access to transit) that you would prioritize as Councilor?
.answer
	:maruku

%h3 promoting transit-oriented development
.question
	:maruku
		Metro’s Transit-Oriented Development (TOD) Program has sought to implement the 2040 Growth Concept by investing in compact mixed-use projects near light rail stations, along frequent service bus corridors and in town and regional centers. Over the past decade, the TriMet system has more than doubled its number of MAX stations from 30 to 85 and increased the number of frequent bus corridors from four to 12. The TOD program’s funding has not kept pace with this growth. How will you support expansion of this important program to increase strategic investment in TOD to help capture existing and future development opportunities throughout the region?
.answer
	:maruku

%h3 equity in the regional transportation network
.question
	:maruku
		One of the desired outcomes of the region’s growth management policy is to ensure the “benefits and burdens of growth and change are distributed equitably.” Roughly 25% of people are too young, too poor, or too infirm to drive&nbsp;– more than 400,000 people in the greater Metro region. As the costs of automobile ownership become increasingly unaffordable to many in the region, the region must invest in other forms of transportation to promote equity. The reach of expensive, high-capacity transit investments is typically limited to corridors and town centers. At the same time, the bus system that feeds into the high capacity system is experiencing significant service cuts. What is your strategy for developing true geographic and demographic equity in the region’s transportation network?
.answer
	:maruku

%h3 innovative funding
.question
	:maruku
		The Oregon Department of Transportation, the City of Portland and other jurisdictions are experiencing significant budget shortfalls, which continue to significantly impact available dollars needed to meet existing and future transportation needs. Concurrently, Metro has had limited success in securing highly competitive federal grant funding for regional transportation projects through the TIGER program. As Councilor, what innovative funding measures will you promote to help regional jurisdictions identify new funding to secure needed transportation dollars?
.answer
	:maruku

%h3 learning from the success of other regions
.question
	:maruku
		Metro has proven itself as the national model in creating a collaborative planning approach to meeting the long-term needs of its population to accommodate future regional growth. Metropolitan regions across the United States have since modeled themselves on Metro, and worked to improve upon the Portland region’s successes. What successes from other regions, if any, will you promote as Councilor to help to keep Metro at the forefront of growth management and sustainability, and help improve the quality of life for the region’s residents?
.answer
	:maruku

%h3 continued regional trail investment
.question
	:maruku
		Regional trails are a key component of a complete regional transportation network, linking neighborhoods and schools to parks, employment, hospitals, shopping and other places that help meet the regular individual needs in the Portland region. They are transformative investments that significantly promote walking and bicycling, specifically for individuals who are less comfortable traveling with automobile traffic, and often provide critical connections that are not efficiently accommodated by the on-street transportation network. As Councilor, how will you support Metro’s continued strategic investment in collaborations and programs to maintain, enhance and develop the region’s trail network? How will you develop and pursue funding opportunities for future projects?
.answer
	:maruku

%h3 the columbia river crossing mega-project
.question
	:maruku
		The Columbia River Crossing (CRC) is mainly a freeway expansion project. As the most expensive project in the region’s history, it is a 100-year regional investment that will provide only nominally-improved access and conditions for bicycling and walking. Will you, as Councilor, vote in opposition to this project until it becomes consistent with the six (Council-adopted) desired outcomes of the region’s growth management policy? How will you work to make the project consistent with the region’s vision?
.answer
	:maruku

%h3 past active transportation accomplishments
.question
	:maruku
		What are your specific accomplishments in helping improve conditions for bicycling, walking and accessing transit in Portland region, or other places?
.answer
	:maruku

%h3 campaign viability
.question
	:maruku
		What makes you a viable candidate for Metro Council?
.answer
	:maruku

%h3 your turn
.question
	:maruku
		Anything to add?
.answer
	:maruku
