title: Helen Ying | Questionaire Responce
description: Helen Ying's responses to the bike walk vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Helen Ying
:markdown
	Download a [PDF of Helen Ying's responses](/responses/metro-council-seat-5/ying.pdf "A PDF of Helen Ying's responses to the bike walk vote questionnaire").

%h3 general approach
.question 
	:markdown
		In 2010, Metro Council identified and adopted six desired outcomes of the region’s growth management policy. One of these outcomes&nbsp;– Safe and Reliable Transportation&nbsp;– states “People have safe and reliable transportation choices that enhance their quality of life.” As the Portland region is projected to grow by one million people by 2050, what is your overall approach to providing safe and reliable transportation options to the region’s existing and future population?
.answer
	:markdown
		With so many people coming to the Portland region we need to prepare for a different set of needs. The younger generation is already beginning to demonstrate how future generations may drive less and we must be prepared to accommodate for that. The first priority, even above mass transit creation, is the creation of livable communities. The creation of higher density communities where people can walk or bike to work, shop, or entertainment options will be the single biggest factor to create safe and reliable transportation options.

		It is imperative that we see the region’s districts are inter-connected and we must find the best policy to foster wellness throughout. A network of bus and rail options connecting neighborhoods giving options for residents to reach their destinations will allow people in the region to go where they need to and realize carbon emission reduction goals at the same time.

		In addition to the physical infrastructures, we also need to pay close attention to the social infrastructure, i.e. ensuring that all people are involved in shaping the various modes of transportation so they have ownership and become empowered participants.

%h3 allocation of regional flexible funding
.question
	:markdown
		While 75% of 2014–15 regional flexible funding&nbsp;– $16.5 million out of $23 million&nbsp;– was dedicated by the Joint Policy Advisory Committee on Transportation (JPACT) to active transportation projects, these dollars are still a very small percentage of overall funding dedicated to projects in the region that help improve conditions for bicycling and walking. As Councilor, will you support maintaining and/or increasing this percentage of dedication of regional flexible funds for active transportation projects? How will you make the case for the need to maintain or increase the percentage of dedicated funding?
.answer
	:markdown
		While there is a strong pressure from various interest groups for more freight funding, the regional flexible funding is one of the few sources for active transportation development. I am in favor of supporting the percentage of dedication of regional flexible funds for active transportation projects. Given that a large amount of the active transportation funding comes from the flexible funds and only a small fraction of the freight infrastructure funding comes from this same source, I believe it is important to at least maintain the 75% funding level. In fact any freight funding will only fund studies, while completion of pedestrian and bicycle projects give excellent outreach opportunities to various neighborhoods and promote active transportation.

		I will consistently make the argument that the public should be able to travel safely and efficiently to work, school, or wherever. Many people live in a different county from their work. By creating a regional plan that encourages people to live close to where they work and shop, we will reduce single occupancy driving and reduce the congestion blocking freight traffic. Any transportation investments must be balanced to benefit the health of the whole region.

%h3 funding and implementing active transportation projects
.question
	:markdown
		Metro is embarking on an Active Transportation Plan to engage the public and partners across the region to identify the region’s principal active transportation network to increase and enhance opportunities for walking, bicycling and accessing transit. The plan will include a framework for implementation and funding priorities. What specific projects do you see as being critical components of this network? As Councilor, how will you help engage the public and partners throughout the region to fund and implement active transportation projects?
.answer
	:markdown
		1. We must connect members of the communities to the places they want to go via safe transportation routes and many areas are under-served. For example, Safe Routes to Schools is an important program that needs to grow. Accessibility, safety (both personal safety as well as structurally safety), and transit reliability are important components for the projects that I would consider. Some projects that come to mind include the npGreenway and the Sullivan’s Gulch trail that provides access for recreation and commuting purposes.

		2. To engage the public and partners throughout the region, I will continue the process I have begun in this campaign and bring in under-represented members of the community and ensure they know the stakes. I will solicit their input as I share the benefits of active transportation in their communities. These efforts could include social meetings in neighborhood settings and similar outreach by the councilors and staff. My connections to the people in the communities of color will improve that representation. Furthermore, it is imperative for government to communicate in plain language and take away the intimidating factor that’s so often an impediment.

			I am a principled person with a track record of getting things done by bringing people together to collaborate and find common ground. I believe the most important thing in the process of building consensus is to find the common threads in people’s core values and build understanding and connections to iron out the differences.

%h3 transit investment
.question
	:markdown
		The Portland region has successfully implemented policies to expand transportation choices and reduce dependence on the automobile as the only way to travel. As increasing congestion and poor air quality threaten livability and the efficient movement of people and freight through the region, investment in transit (and access to transit) is critical to the continued economic vitality of the region. What criteria and project outcomes will you use to prioritize regional transit investments? Given those criteria and outcomes, are there specific regional transit investments (investments in access to transit) that you would prioritize as Councilor?
.answer
	:markdown
		The criteria I will use for prioritizing regional transit investments will be similar to any other Metro projects:
		
		1. benefit the whole region by increasing livability
		
		2. increase opportunities for businesses to create jobs, and
		
		3. have broad agreement by stakeholders.
		
		Active transportation projects should be given high priority as they are relatively low cost and high return in livability. Our region should continue to “play to its strengths.” A focus for regional transit investments must be placed on under-served areas. Tools such as the Equity Atlas developed by the Coalition for a Livable Future in partnership with Metro and other partners would provide helpful data for determining what, where, and how to prioritize the needs.

%h3 promoting transit-oriented development
.question
	:markdown
		Metro’s Transit-Oriented Development (TOD) Program has sought to implement the 2040 Growth Concept by investing in compact mixed-use projects near light rail stations, along frequent service bus corridors and in town and regional centers. Over the past decade, the TriMet system has more than doubled its number of MAX stations from 30 to 85 and increased the number of frequent bus corridors from four to 12. The TOD program’s funding has not kept pace with this growth. How will you support expansion of this important program to increase strategic investment in TOD to help capture existing and future development opportunities throughout the region?
.answer
	:markdown
		More than $10 billion in development has occurred within walking distance of MAX stations. This is clearly a success that is touted around the world, and much of it could not have happened without close collaboration with other local jurisdictions and developers.

		The current presidential administration has boosted transit-oriented development and smart growth policies, as evidenced by programs such as the HUDDOT–EPA Partnership for Sustainable Communities. Funding for Metro’s TOD program historically come from transportation dollars such as MTIP. There are clearly opportunities that Metro’s TOD program can take, including expanding collaboration with housing advocates and potentially seeking funding from HUD.

		My experience with more diverse communities and their needs can strengthen Metro’s TOD program. The policy direction at the federal level advocates a more holistic approach to TOD. It’s not just about reducing vehicle miles traveled. Building livable communities requires us to take into consideration the socioeconomic impacts to communities, as many people can’t afford to live in many areas that have undergone urban renewal efforts.

%h3 equity in the regional transportation network
.question
	:markdown
		One of the desired outcomes of the region’s growth management policy is to ensure the “benefits and burdens of growth and change are distributed equitably.” Roughly 25% of people are too young, too poor, or too infirm to drive&nbsp;– more than 400,000 people in the greater Metro region. As the costs of automobile ownership become increasingly unaffordable to many in the region, the region must invest in other forms of transportation to promote equity. The reach of expensive, high-capacity transit investments is typically limited to corridors and town centers. At the same time, the bus system that feeds into the high capacity system is experiencing significant service cuts. What is your strategy for developing true geographic and demographic equity in the region’s transportation network?
.answer
	:markdown
		This is a dilemma that is multifaceted. In the short-run, TriMet needs to solve a severe budget shortfall. The payroll tax, which makes up the majority of of TriMet’s revenue, has followed the economic downturn and hasn’t recovered. Increases in the payroll tax, which were allowed by the state legislature, are earmarked for new service and paratransit, such as light rail to Milwaukie and the Columbia River Crossing. The region needs to find additional funding to keep us from gutting essential transit service. Business leaders were integral in the formation of the TriMet transit district. My connections in the private sector may be able to help us figure out a more sustainable funding solution.

		In the long-run, the bus system plays a strong role in Metro’s 2040 Growth Concept. Metro plays an important planning role in the Alternatives Analysis phase of high capacity transit projects. We need to give bus rapid transit (BRT) a better look. While light rail has had a transformative role in shaping our region, it is hard to make light rail fit into many corridors that need it more (both in terms of ridership and transit-dependent riders). Bus rapid transit requires much less capital cost outlays than rail and its infrastructure can be built much quicker than rail. I hope that our bus system can be as great as our light rail system.

		Lastly, if the Growth Concept added more corridors currently served by bus lines, Metro may be able to foster more development and amenities (sidewalks, signaled crosswalks, etc.) that create a better environment for active transportation, thus increasing ridership.

%h3 innovative funding
.question
	:markdown
		The Oregon Department of Transportation, the City of Portland and other jurisdictions are experiencing significant budget shortfalls, which continue to significantly impact available dollars needed to meet existing and future transportation needs. Concurrently, Metro has had limited success in securing highly competitive federal grant funding for regional transportation projects through the TIGER program. As Councilor, what innovative funding measures will you promote to help regional jurisdictions identify new funding to secure needed transportation dollars?
.answer
	:markdown
		As I said earlier, Metro needs to take a more holistic approach to building livable communities. Complete streets and smart growth require an equity perspective, and that can invite stakeholders and investments outside of conventional transportation circles. As revenue from the gasoline tax fails to meet the demands of our road users, we need to move towards mainstreaming Oregon’s Mileage Fee Concept.

		I am frustrated by the lack of transit options in this region. While other regions have secured funding for their BRT projects, we have continued on the same “one size fits all” track of prioritizing light rail above all else. We need to have more vanpools and shuttles and more BRT. If we think outside the box, we can do more with limited resources.

%h3 learning from the success of other regions
.question
	:markdown
		Metro has proven itself as the national model in creating a collaborative planning approach to meeting the long-term needs of its population to accommodate future regional growth. Metropolitan regions across the United States have since modeled themselves on Metro, and worked to improve upon the Portland region’s successes. What successes from other regions, if any, will you promote as Councilor to help to keep Metro at the forefront of growth management and sustainability, and help improve the quality of life for the region’s residents?
.answer
	:markdown
		Our region needs to set its standards higher than just the United States. That’s why I appreciate how my friends in the bicycling community have set our sights to Copenhagen and Amsterdam. The Urban Growth Boundary and 2040 Growth Concept are important tools that set us apart from the pack, but we need to be able to implement them effectively.

		As we add more than one million people to the region in 20 years, we need to be able to make sure we continue growing intentionally. That can be difficult with so many new people and voices. I’ve got a track record of uniting people and building partnerships with diverse communities to facilitate successful integration of the new population.

%h3 continued regional trail investment
.question
	:markdown
		Regional trails are a key component of a complete regional transportation network, linking neighborhoods and schools to parks, employment, hospitals, shopping and other places that help meet the regular individual needs in the Portland region. They are transformative investments that significantly promote walking and bicycling, specifically for individuals who are less comfortable traveling with automobile traffic, and often provide critical connections that are not efficiently accommodated by the on-street transportation network. As Councilor, how will you support Metro’s continued strategic investment in collaborations and programs to maintain, enhance and develop the region’s trail network? How will you develop and pursue funding opportunities for future projects?
.answer
	:markdown
		One of my strengths is the ability to listen and work with others. I will not only work with municipal officials but with advocates on all sides. I applaud Rex Burkholder for being such a vocal champion of the Intertwine. Almost everyone recognizes the benefits offered by the region’s trail network. I will work with the Intertwine and other advocates to further grow this strength for our region.

		I will work to support at least the present 75/25% split in the flexible funds for active transportation projects. I will aggressively work to find other federal grants as stated in the answer to question 7.

%h3 the columbia river crossing mega-project
.question
	:markdown
		The Columbia River Crossing (CRC) is mainly a freeway expansion project. As the most expensive project in the region’s history, it is a 100-year regional investment that will provide only nominally-improved access and conditions for bicycling and walking. Will you, as Councilor, vote in opposition to this project until it becomes consistent with the six (Council-adopted) desired outcomes of the region’s growth management policy? How will you work to make the project consistent with the region’s vision?
.answer
	:markdown
		Almost all decisions for this project are now beyond Metro’s jurisdiction. However, as a Metro Councilor, I will seek a project to meet the region’s needs. That means light rail, bicycle and pedestrian connections, and a smart tolling system. They are absolutely critical to meet our region’s long-term carbon emission reduction goals.

%h3 past active transportation accomplishments
.question
	:markdown
		What are your specific accomplishments in helping improve conditions for bicycling, walking and accessing transit in Portland region, or other places?
.answer
	:markdown
		While I have not had the position to directly help improve conditions for active transportation., I have been an advocate and recognize its importance in improving the health of a community and look forward to actively promoting active transportation options as a Metro Councilor.

%h3 campaign viability
.question
	:markdown
		What makes you a viable candidate for Metro Council?
.answer
	:markdown
		I have raised more than $25,000, met with numerous people and organizations, and will soon be knocking on doors. My campaign has contacted every neighborhood association in the district (more than 50). Furthermore, I have received endorsements from many people including current and past elected officials. The Willamette Week has even described me as the front runner. As one of the few women of color running in the region, I will take a special interest to ensure all communities are being represented in Metro.

%h3 your turn
.question
	:markdown
		Anything to add?
.answer
	:markdown
		Thank you for your advocacy. The member groups of Bike Walk Vote are one of the reasons why we have such a wonderful place to live.