title: Sam Chase | Questionaire Responce
description: Sam Chase's responses to the bike walk vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Sam Chase
:markdown
	Download a [PDF of Sam Chase's responses](/responses/metro-council-seat-5/chase.pdf "A PDF of Sam Chase's responses to the bike walk vote questionnaire").

%h3 general approach
.question 
	:markdown
		In 2010, Metro Council identified and adopted six desired outcomes of the region’s growth management policy. One of these outcomes&nbsp;– Safe and Reliable Transportation&nbsp;– states “People have safe and reliable transportation choices that enhance their quality of life.” As the Portland region is projected to grow by one million people by 2050, what is your overall approach to providing safe and reliable transportation options to the region’s existing and future population?
.answer
	:markdown
		The Portland area is known for and loved for its unique quality of life&nbsp;– due much in part to the transportation infrastructure that we have. A tight urban growth boundary has allowed us to grow in a way that allows people to navigate the region more easily by active transportation. At the same time, not everyone has equal access to these opportunities and our system has many gaps.

		I will be a tireless advocate for active transportation. Bike lanes and boulevards, active transportation zones, buses, light rail, street car, sidewalks, trails, and safe crossings for pedestrians. This will reduce vehicle miles traveled, protect our air quality, reduce families’ transportation costs, and create a healthier population (which also reduces the region’s health care costs).

		Ultimately though, the issue is very personal to me. As a daily commuter by bike, I enjoy transportation throughout the city. However, for my wife and two children, active transportation is more challenging and less safe. I will seek to find ways that make active travel safe throughout the region for all our residents.Passion for the issues, however, is not enough. I’ll champion strategies that will lead to significant resource development&nbsp;– that will pay for ongoing and capital needs. My success in generating resources for affordable housing have been unparalleled in the Portland area. I’ll use those same strategies to win resources for active transportation. That means building coalitions of powerful community and business leaders, aligning with other interests who seek regional infrastructure funding, and seeking out the success strategies of other regions in securing funding.

%h3 allocation of regional flexible funding
.question
	:markdown
		While 75% of 2014–15 regional flexible funding&nbsp;– $16.5 million out of $23 million&nbsp;– was dedicated by the Joint Policy Advisory Committee on Transportation (JPACT) to active transportation projects, these dollars are still a very small percentage of overall funding dedicated to projects in the region that help improve conditions for bicycling and walking. As Councilor, will you support maintaining and/or increasing this percentage of dedication of regional flexible funds for active transportation projects? How will you make the case for the need to maintain or increase the percentage of dedicated funding?
.answer
	:markdown
		This source of funds is all that is regularly available for active transportation regionally. These funds are not nearly enough to support the current needs. I support a more aggressive allocation of funds toward active transportation than current levels. However, I am open to prioritizing certain kinds of freight transportation on a case by case and temporary basis as opportunities arise.

		Ultimately, I will be a champion for substantial increases from other sources for active transportation projects. My experience winning the 30% set aside for affordable housing&nbsp;– projected at $300 million over 10 years, and $100 million in the state legislature will guide my leadership in seeking out new resources for the region.

%h3 funding and implementing active transportation projects
.question
	:markdown
		Metro is embarking on an Active Transportation Plan to engage the public and partners across the region to identify the region’s principal active transportation network to increase and enhance opportunities for walking, bicycling and accessing transit. The plan will include a framework for implementation and funding priorities. What specific projects do you see as being critical components of this network? As Councilor, how will you help engage the public and partners throughout the region to fund and implement active transportation projects?
.answer
	:markdown
		The Intertwine, active transportation zones around schools, sidewalks in under-served communities, and bike boulevards that make biking safer for families and children should all play a part in the plan. 

		I’ll bring my expertise mobilizing communities for change to the funding strategies. Much as I did in winning hundreds of millions for housing, I’ll work to build coalitions and consensus that focus on resources and identifying winnable strategies.

%h3 transit investment
.question
	:markdown
		The Portland region has successfully implemented policies to expand transportation choices and reduce dependence on the automobile as the only way to travel. As increasing congestion and poor air quality threaten livability and the efficient movement of people and freight through the region, investment in transit (and access to transit) is critical to the continued economic vitality of the region. What criteria and project outcomes will you use to prioritize regional transit investments? Given those criteria and outcomes, are there specific regional transit investments (investments in access to transit) that you would prioritize as Councilor?
.answer
	:markdown
		In a climate of scarce resources and diminishing federal support, our challenges in making these choices will be greater than ever. I’ll focus on areas where we get the biggest bang for the buck. For example, bus service may need to take priority over rail and the ability to maintain robust service throughout the system must be a key criterion in considering capital expansion. I’ll also look to support low-income and under-served areas of the region with bus service. In a climate of skyrocketing health care costs, I’ll seek to support active transportation that will create a healthier population&nbsp;– which will result in overall savings to our greater population.

%h3 promoting transit-oriented development
.question
	:markdown
		Metro’s Transit-Oriented Development (TOD) Program has sought to implement the 2040 Growth Concept by investing in compact mixed-use projects near light rail stations, along frequent service bus corridors and in town and regional centers. Over the past decade, the TriMet system has more than doubled its number of MAX stations from 30 to 85 and increased the number of frequent bus corridors from four to 12. The TOD program’s funding has not kept pace with this growth. How will you support expansion of this important program to increase strategic investment in TOD to help capture existing and future development opportunities throughout the region?
.answer
	:markdown
		I will champion system development charge reforms to incentivize higher density near light rail, frequent bus service corridors, and regional and town centers. I’ll lead Metro to address such strategies as SDC exemptions where high densities can be achieved, front loaded investments that will be bonded out and SDC exemptions for affordable housing. As part of this work, I will also seek economic development and housing affordability strategies to prevent displacement.

%h3 equity in the regional transportation network
.question
	:markdown
		One of the desired outcomes of the region’s growth management policy is to ensure the “benefits and burdens of growth and change are distributed equitably.” Roughly 25% of people are too young, too poor, or too infirm to drive&nbsp;– more than 400,000 people in the greater Metro region. As the costs of automobile ownership become increasingly unaffordable to many in the region, the region must invest in other forms of transportation to promote equity. The reach of expensive, high-capacity transit investments is typically limited to corridors and town centers. At the same time, the bus system that feeds into the high capacity system is experiencing significant service cuts. What is your strategy for developing true geographic and demographic equity in the region’s transportation network?
.answer
	:markdown
		Often, young, very low income, seniors, and people with disabilities not only struggle with the costs of costly auto ownership, they become isolated and unable to access critical social and other services. I’ll advocate for twenty minute communities that provide a greater range of economic opportunities and available services within certain geographies. I’ll also champion affordable housing policies that provide a better housing-jobs balance through ‘fair share’ strategies that provide higher levels of incentives for housing in transit rich and affordable housing deficient areas of the region.

%h3 innovative funding
.question
	:markdown
		The Oregon Department of Transportation, the City of Portland and other jurisdictions are experiencing significant budget shortfalls, which continue to significantly impact available dollars needed to meet existing and future transportation needs. Concurrently, Metro has had limited success in securing highly competitive federal grant funding for regional transportation projects through the TIGER program. As Councilor, what innovative funding measures will you promote to help regional jurisdictions identify new funding to secure needed transportation dollars?
.answer
	:markdown
		I’ve specialized in shaping and driving sophisticated coalition building strategies to generate resources. I’ll work with my Metro colleagues, Community Investment Initiative participants, local jurisdictions, nonprofit partners, and seek out community leaders to identify winnable resource strategies. Securing regional service district authority from the legislature, partnering with parks, open space advocates and even schools may provide opportunities to win at a regional level.

		It is essential to protect federal funding for key programs such as Transportation Enhancements, and maintaining transit funding as part of the federal Highway Trust Fund and pushing for increasing the percentage of the state highway fund, currently at 1%.

%h3 learning from the success of other regions
.question
	:markdown
		Metro has proven itself as the national model in creating a collaborative planning approach to meeting the long-term needs of its population to accommodate future regional growth. Metropolitan regions across the United States have since modeled themselves on Metro, and worked to improve upon the Portland region’s successes. What successes from other regions, if any, will you promote as Councilor to help to keep Metro at the forefront of growth management and sustainability, and help improve the quality of life for the region’s residents?
.answer
	:markdown
		I’m a strong advocate for borrowing ideas from others. My most successful policy work has been through taking innovative ideas and packaging them in new ways that fit our unique demographics and geography. I’ll direct staff at Metro to seek out innovation from a broad range of communities around active transportation finance and design from urban areas like Vancouver, New York, Seattle, Washington D.C. and European cities. Important lessons can be learned about what messages for active transportation were most successful, who was effective in delivering them, how coalitions were formed, what stopped some proposals from moving forward, and to identify winning strategies that show our regional leaders that we truly can win on active transportation.

%h3 continued regional trail investment
.question
	:markdown
		Regional trails are a key component of a complete regional transportation network, linking neighborhoods and schools to parks, employment, hospitals, shopping and other places that help meet the regular individual needs in the Portland region. They are transformative investments that significantly promote walking and bicycling, specifically for individuals who are less comfortable traveling with automobile traffic, and often provide critical connections that are not efficiently accommodated by the on-street transportation network. As Councilor, how will you support Metro’s continued strategic investment in collaborations and programs to maintain, enhance and develop the region’s trail network? How will you develop and pursue funding opportunities for future projects?
.answer
	:markdown
		My focus on resource development strategies will help not only maintain our open space, but provide capital to build better trail access to that open space and throughout the region through The Intertwine and other active transportation strategies.

%h3 the columbia river crossing mega-project
.question
	:markdown
		The Columbia River Crossing (CRC) is mainly a freeway expansion project. As the most expensive project in the region’s history, it is a 100-year regional investment that will provide only nominally-improved access and conditions for bicycling and walking. Will you, as Councilor, vote in opposition to this project until it becomes consistent with the six (Council-adopted) desired outcomes of the region’s growth management policy? How will you work to make the project consistent with the region’s vision?
.answer
	:markdown
		As a Coalition for a Livable Future Board Member for ten years, I weighed in on the CRC in a number of forums, raising a wide range of concerns including the cost and impacts on livability, land use, and the climate. Had the concerns we raised repeatedly been addressed, I think we would have had a fundable project that would have more quickly served our region’s desire to get Federal funds, jobs, and a more fluid freight system.

		While the current proposal has moved past Metro, the current financing strategy is not likely to secure the financial support it needs and will cause further delay in getting us past the multimillion dollar planning phase. I will focus my future efforts on supporting a financially feasible, appropriately scaled river crossing.

%h3 past active transportation accomplishments
.question
	:markdown
		What are your specific accomplishments in helping improve conditions for bicycling, walking and accessing transit in Portland region, or other places?
.answer
	:markdown
		As a board member of the Coalition for a Livable Future for ten years, I worked with the transportation community to weigh in on the CRC, support positions that advocated higher levels of flexible funding for active transportation, and advocated the open space bond, including the Nature in Neighborhoods Capital Grant program, which was designed to increase access to outdoor areas and I hope will open up even more trails.

		As the Co-Chair of CLF’s first Equity Atlas, we identified a number of disparities that exist for communities of color and low income populations in accessing active transportation.

		Much of my work building affordable housing throughout the region has highlighted the need for a jobs-housing balance and supported efforts to reduce vehicle miles traveled.Finally, as a regular bike commuter, I have modeled a lifestyle that not only makes me healthier, but the community around me.

%h3 campaign viability
.question
	:markdown
		What makes you a viable candidate for Metro Council?
.answer
	:markdown
		I am a well respected leader with knowledge, experience, and relationships that will help me be effective as a Metro Councilor. My experience includes Chief of Staff for Nick Fish, Policy Advisor to Gretchen Kafoury, and advocacy efforts that have fundamentally reformed our government policies. I have a sound understanding of policy development and implementation around progressive issues which resonates well in this district&nbsp;– where I have lived for 20 years.

		I have the most endorsements in this race including significant support from business and elected leaders who have committed to providing fundraising support. I currently lead the race in fundraising and am raising funds at more than twice the rate of any other candidate in the race. I have secured more than 200 contributions from individuals, engaged more than 600 friends on Facebook, and built a list of more than 2,000 emails.

		I also understand how to get a campaign message out and have staffed campaigns for Kitzhaber, Schools, and City Council.

		In 2006, I ran for State Senate and raised $65,000 in only four months&nbsp;– the most of any first time Senate candidate in that primary cycle. I enjoy support from a base of 400 contributions from that race, as well as name recognition from direct voter contact in the district.

%h3 your turn
.question
	:markdown
		Anything to add?
.answer
	:markdown
		I appreciate the time you have taken to develop these excellent questions.

		Thank you.