title: Bob Stacey | Questionaire Responce
description: Bob Stacey's responses to the bike walk vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Bob Stacey
:markdown
	Download a [PDF of Bob Stacey's responses](/responses/metro-council-seat-6/stacey.pdf "A PDF of Bob Stacey's responses to the bike walk vote questionnaire").

%h3 general approach
.question 
	:markdown
		In 2010, Metro Council identified and adopted six desired outcomes of the region’s growth management policy. One of these outcomes&nbsp;– Safe and Reliable Transportation&nbsp;– states “People have safe and reliable transportation choices that enhance their quality of life.” As the Portland region is projected to grow by one million people by 2050, what is your overall approach to providing safe and reliable transportation options to the region’s existing and future population?
.answer
	:markdown
		My overall policy approach is to put active transportation and transit first; to make freight movement the second highest priority; and will carefully scrutinize any proposal to invest in roadway capacity expansion for cars. This approach is based on the fact that our road network is largely complete, and that accessibility and mobility can best be improved by increasing the safety and reliability of transit and active transportation, and by decreasing our need to drive. This policy approach provides effective alternatives to congested roads while fostering quieter, cleaner, safer, more active, and more convenient neighborhoods and keeping more of our money in local circulation instead of in the economies of regions that produce cars and petroleum.

		My transportation development approach will be to work for a grid-like network of “complete streets” serving our region, transforming our existing urban arterial network to accommodate cycling, walking and transit priority facilities within existing rights of way wherever possible. Streets that feature frequent, reliable transit; that safely and comfortably serve cyclists and pedestrians as well as cars; and that physically separate cars from active users should serve the entire region at a rough density of every mile (north-south as well as east-west), and more densely where population and the existing grid can accommodate them. To ensure equitable access to all the region for all its residents requires us to make connections by all modes easily available across the region. I think it’s time for our community to stop focusing on big projects and to start better defining the kind of system, and the kind of accessibility, we want—and then judge individual projects on their contribution to that emerging system and on their cost-effectiveness in doing so.


%h3 allocation of regional flexible funding
.question
	:markdown
		While 75% of 2014–15 regional flexible funding&nbsp;– $16.5 million out of $23 million&nbsp;– was dedicated by the Joint Policy Advisory Committee on Transportation (JPACT) to active transportation projects, these dollars are still a very small percentage of overall funding dedicated to projects in the region that help improve conditions for bicycling and walking. As Councilor, will you support maintaining and/or increasing this percentage of dedication of regional flexible funds for active transportation projects? How will you make the case for the need to maintain or increase the percentage of dedicated funding?
.answer
	:markdown

%h3 funding and implementing active transportation projects
.question
	:markdown
		Metro is embarking on an Active Transportation Plan to engage the public and partners across the region to identify the region’s principal active transportation network to increase and enhance opportunities for walking, bicycling and accessing transit. The plan will include a framework for implementation and funding priorities. What specific projects do you see as being critical components of this network? As Councilor, how will you help engage the public and partners throughout the region to fund and implement active transportation projects?
.answer
	:markdown

%h3 transit investment
.question
	:markdown
		The Portland region has successfully implemented policies to expand transportation choices and reduce dependence on the automobile as the only way to travel. As increasing congestion and poor air quality threaten livability and the efficient movement of people and freight through the region, investment in transit (and access to transit) is critical to the continued economic vitality of the region. What criteria and project outcomes will you use to prioritize regional transit investments? Given those criteria and outcomes, are there specific regional transit investments (investments in access to transit) that you would prioritize as Councilor?
.answer
	:markdown

%h3 promoting transit-oriented development
.question
	:markdown
		Metro’s Transit-Oriented Development (TOD) Program has sought to implement the 2040 Growth Concept by investing in compact mixed-use projects near light rail stations, along frequent service bus corridors and in town and regional centers. Over the past decade, the TriMet system has more than doubled its number of MAX stations from 30 to 85 and increased the number of frequent bus corridors from four to 12. The TOD program’s funding has not kept pace with this growth. How will you support expansion of this important program to increase strategic investment in TOD to help capture existing and future development opportunities throughout the region?
.answer
	:markdown

%h3 equity in the regional transportation network
.question
	:markdown
		One of the desired outcomes of the region’s growth management policy is to ensure the “benefits and burdens of growth and change are distributed equitably.” Roughly 25% of people are too young, too poor, or too infirm to drive&nbsp;– more than 400,000 people in the greater Metro region. As the costs of automobile ownership become increasingly unaffordable to many in the region, the region must invest in other forms of transportation to promote equity. The reach of expensive, high-capacity transit investments is typically limited to corridors and town centers. At the same time, the bus system that feeds into the high capacity system is experiencing significant service cuts. What is your strategy for developing true geographic and demographic equity in the region’s transportation network?
.answer
	:markdown

%h3 innovative funding
.question
	:markdown
		The Oregon Department of Transportation, the City of Portland and other jurisdictions are experiencing significant budget shortfalls, which continue to significantly impact available dollars needed to meet existing and future transportation needs. Concurrently, Metro has had limited success in securing highly competitive federal grant funding for regional transportation projects through the TIGER program. As Councilor, what innovative funding measures will you promote to help regional jurisdictions identify new funding to secure needed transportation dollars?
.answer
	:markdown

%h3 learning from the success of other regions
.question
	:markdown
		Metro has proven itself as the national model in creating a collaborative planning approach to meeting the long-term needs of its population to accommodate future regional growth. Metropolitan regions across the United States have since modeled themselves on Metro, and worked to improve upon the Portland region’s successes. What successes from other regions, if any, will you promote as Councilor to help to keep Metro at the forefront of growth management and sustainability, and help improve the quality of life for the region’s residents?
.answer
	:markdown

%h3 continued regional trail investment
.question
	:markdown
		Regional trails are a key component of a complete regional transportation network, linking neighborhoods and schools to parks, employment, hospitals, shopping and other places that help meet the regular individual needs in the Portland region. They are transformative investments that significantly promote walking and bicycling, specifically for individuals who are less comfortable traveling with automobile traffic, and often provide critical connections that are not efficiently accommodated by the on-street transportation network. As Councilor, how will you support Metro’s continued strategic investment in collaborations and programs to maintain, enhance and develop the region’s trail network? How will you develop and pursue funding opportunities for future projects?
.answer
	:markdown

%h3 the columbia river crossing mega-project
.question
	:markdown
		The Columbia River Crossing (CRC) is mainly a freeway expansion project. As the most expensive project in the region’s history, it is a 100-year regional investment that will provide only nominally-improved access and conditions for bicycling and walking. Will you, as Councilor, vote in opposition to this project until it becomes consistent with the six (Council-adopted) desired outcomes of the region’s growth management policy? How will you work to make the project consistent with the region’s vision?
.answer
	:markdown

%h3 past active transportation accomplishments
.question
	:markdown
		What are your specific accomplishments in helping improve conditions for bicycling, walking and accessing transit in Portland region, or other places?
.answer
	:markdown

%h3 campaign viability
.question
	:markdown
		What makes you a viable candidate for Metro Council?
.answer
	:markdown

%h3 your turn
.question
	:markdown
		Anything to add?
.answer
	:markdown
