title: Bike Walk Vote Endorses Jefferson Smith for Mayor
description: Bike Walk Vote Endorses Jefferson Smith for Mayor
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Bike Walk Vote Endorses Jefferson Smith for Mayor
%p
  %strong Portland
  February 17, 2012.
%p
  Bike Walk Vote, the political arm of Portland’s biking, walking, and transit community has decided to endorse <a href="http://www.jeffersonsmith.com/" title="Jefferson Smith for Mayor"> Jefferson Smith for Mayor</a>. Jefferson Smith sets himself apart from the other candidates with his compelling
  %em commitment to promoting equitable transportation
  investments in underserved Portland communities, and his unequivocal cost-conscious critique of the proposed
  %em Columbia River Crossing
  supports the smartest path for saving the most taxpayer dollars while moving people and freight.
%p
  Bike Walk Vote focused on the three most viable mayoral candidates: Smith, Hales and Brady, and all three of them enthusiastically sought our endorsement. Our endorsement was based on comparing the candidates’ questionnaire responses, in-person interviews, their performance in the February 6th
  %a{:href => "http://psuvanguard.com/news/psu%E2%80%99s-lincoln-hall-battleground-mayoral-debate/", :title => "PSU's Vangaurd on the Local Motion mayoral candidate forum"} transportation debate
  at Portland State University, as well as our rolling interview, where Bike Walk Vote rode along with each candidate on a commute from their home to their campaign office, reflecting on how we can all best share the roads together. The decision to endorse Smith was reached by the consensus of the Bike Walk Vote Steering Committee.
%p
  \“We encourage Portlanders who care about biking, walking, and transit to support Jefferson Smith, who brings
  %em strong leadership
  and a commitment to a city that works for everyone,” said Peter Welte, Co-Chair of Bike Walk Vote.
%p
  \“Jefferson Smith has demonstrated a strong commitment to creating
  %em safe and convenient options
  for walking, biking, and taking transit for all Portlanders.  His focus on
  %em transportation funding equity
  for historically underserved neighborhoods reflects a vision of Portland that we all share,” said Heidi Guenin, Policy Co-Chair of Bike Walk Vote.
%p
  \“Jefferson Smith brings the most common sense approach to the <em>Columbia River Crossing highway mega-project</em>, to help us focus our scarce transportation funding on the investments that Portlanders will get the most benefit from,” added Evan Manvel, Co-Chair of Bike Walk Vote.
%p
  \“Jefferson Smith has the <em>vision and leadership</em> that will help us get to the future where all Portlanders can safely and comfortably walk, bike and use transit to get where they need to go.” Kathryn Doherty-Chapman, Secretary of Bike Walk Vote said.
  %p Bike Walk Vote’s special acknowledgement goes to Charlie Hales, who made a commendably strong impression. Hales distinguished himself over Brady and compelled our most thoughtful consideration in comparison to Smith. His vision for a multi-modal city and his talent for promoting collaboration between agencies have literally helped build the Portland we call home. We are thankful to Charlie for his work.
  %p Brady’s personally positive outlook on walking and cycling were overshadowed by her reluctance to increase local investments in active transportation, putting her at odds with Portland’s vision for a healthy, sustainable city.
  %p Bike Walk Vote will actively support Jefferson Smith’s campaign to be Portland’s next mayor and will mobilize the transportation community’s engagement in this election.