title: Craig Dirksen | Questionaire Responce
description: Craig Dirksen's responses to the bike walk vote questionaire
author: Bike Walk Vote PAC
---------------------------------------------META

%h2 Craig Dirksen
:markdown
	Download a [PDF of Craig Dirksen's responses](/responses/metro-council-seat-3/dirksen.pdf "A PDF of Craig Dirksen's responses to the bike walk vote questionnaire").

%h3 general approach
.question 
	:markdown
		In 2010, Metro Council identified and adopted six desired outcomes of the region’s growth management policy. One of these outcomes – Safe and Reliable Transportation – states “People have safe and reliable transportation choices that enhance their quality of life.” As the Portland region is projected to grow by one million people by 2050, what is your overall approach to providing safe and reliable transportation options to the region’s existing and future population?
.answer
	:markdown
		Portland needs a complete, balanced transportation system. This includes conventional surface streets and highways, public transportation including high capacity transit, and alternative transportation facilities suitable for bike, pedestrian, and low speed electric vehicles. None of these alone, or out of balance with the others, can be adequate to meet the needs of our growing area if it is to be successful.

%h3 allocation of regional flexible funding
.question
	:markdown
		While 75% of 2014–15 regional flexible funding – $16.5 million out of $23 million – was dedicated by the Joint Policy Advisory Committee on Transportation (JPACT) to active transportation projects, these dollars are still a very small percentage of overall funding dedicated to projects in the region that help improve conditions for bicycling and walking. As Councilor, will you support maintaining and/or increasing this percentage of dedication of regional flexible funds for active transportation projects? How will you make the case for the need to maintain or increase the percentage of dedicated funding?
.answer
	:markdown
		The Regional Flexible Fund garners a lot of attention considering the small amount of money involved. Rather than pre-emptively deciding what percentage of available funds should be assigned to the different categories, I believe the funding allocations for each round of RFF should to be decided based on the relative merits of the projects proposed.

%h3 funding and implementing active transportation projects
.question
	:markdown
		Metro is embarking on an Active Transportation Plan to engage the public and partners across the region to identify the region’s principal active transportation network to increase and enhance opportunities for walking, bicycling and accessing transit. The plan will include a framework for implementation and funding priorities. What specific projects do you see as being critical components of this network? As Councilor, how will you help engage the public and partners throughout the region to fund and implement active transportation projects?
.answer
	:markdown
		Obviously, my focus would be to support projects on the west side, which I believe have lagged behind the east side in funding for bike and ped projects. My first priority would be to complete the Fanno Creek Trail. Ultimately it will span from Willamette Park in Johns Landing all the way through Tualatin to the Tonquin Trail and to Charbonneau on the south, and tie to the Crescent Connection through Beaverton and Aloha to Hillsboro. This will complement the Springwater Trail on the east side, to complete a bike and ped corridor that will reach all the way across the Portland Metro from east to west.

%h3 transit investment
.question
	:markdown
		The Portland region has successfully implemented policies to expand transportation choices and reduce dependence on the automobile as the only way to travel. As increasing congestion and poor air quality threaten livability and the efficient movement of people and freight through the region, investment in transit (and access to transit) is critical to the continued economic vitality of the region. What criteria and project outcomes will you use to prioritize regional transit investments? Given those criteria and outcomes, are there specific regional transit investments (investments in access to transit) that you would prioritize as Councilor?
.answer
	:markdown
		Unfortunately it looks as though the Safe Routes to School funding is going to be reduced or eliminated, doing away with a relatively inexpensive program that reaps big benefits. We must find a way to support projects that close gaps in sidewalks and other pedestrian facilities to allow our citizens a safe walking environment. By linking neighborhoods to transit corridors, it makes our transit system more accessible (and therefore more convenient) to everyone.

%h3 promoting transit-oriented development
.question
	:markdown
		Metro’s Transit-Oriented Development (TOD) Program has sought to implement the 2040 Growth Concept by investing in compact mixed-use projects near light rail stations, along frequent service bus corridors and in town and regional centers. Over the past decade, the TriMet system has more than doubled its number of MAX stations from 30 to 85 and increased the number of frequent bus corridors from four to 12. The TOD program’s funding has not kept pace with this growth. How will you support expansion of this important program to increase strategic investment in TOD to help capture existing and future development opportunities throughout the region?
.answer
	:markdown
		It’s no secret that I campaigned hard as the Mayor of Tigard for the Southwest Corridor Plan. It’s clear to me and my community that the kind of transit oriented development endorsed by the 2040 plan is the best hope to make the Barbur/99 corridor function as it must to carry the burden of growth we anticipate over the next couple of decades. The economic downturn has made the future of funding for transportation and redevelopment projects less available but has fortunately also temporarily slowed the pace of growth. As the economy recovers, it is logical to predict that the funding will also become more available. However, we as a state and region may need to be prepared to rely less on outside funding to meet our goals.

%h3 equity in the regional transportation network
.question
	:markdown
		One of the desired outcomes of the region’s growth management policy is to ensure the “benefits and burdens of growth and change are distributed equitably.” Roughly 25% of people are too young, too poor, or too infirm to drive – more than 400,000 people in the greater Metro region. As the costs of automobile ownership become increasingly unaffordable to many in the region, the region must invest in other forms of transportation to promote equity. The reach of expensive, high-capacity transit investments is typically limited to corridors and town centers. At the same time, the bus system that feeds into the high capacity system is experiencing significant service cuts. What is your strategy for developing true geographic and demographic equity in the region’s transportation network?
.answer
	:markdown
		Obviously, Trimet will have to make many of these decisions, but one way or another I plan to be in a position to influence what happens. The region has already made the decision to create a light rail system as its high capacity transit choice. That system, even the parts that have already been built, will not function as it should until it is complete. A lot of expense currently goes into supporting frequent bus service in major corridors. As the high capacity transit system is completed, those routes can be reconfigured to create neighborhood connections to the stations of the system. Within neighborhoods, and along major commute corridors, a complete “web” of bicycle-safe routes, whether bike lanes on streets, bike paths off streets where applicable, and shared lanes where that’s applicable, needs to exist, so a cyclist or pedestrian can get anywhere they want in the region, safely. After ten years in local government in Washington County, I have a good idea where those facilities are lacking, and what it will take to complete it. Specifically, the Fanno Creek Trail, the Crescent Connection, and the Westside trail need to be completed in addition to the continuation of the policy requiring bike lanes on all arterials.

%h3 innovative funding
.question
	:markdown
		The Oregon Department of Transportation, the City of Portland and other jurisdictions are experiencing significant budget shortfalls, which continue to significantly impact available dollars needed to meet existing and future transportation needs. Concurrently, Metro has had limited success in securing highly competitive federal grant funding for regional transportation projects through the TIGER program. As Councilor, what innovative funding measures will you promote to help regional jurisdictions identify new funding to secure needed transportation dollars?
.answer
	:markdown
		First, we need to continue lobbying the federal government and advocating for continued and even expanded funding for transportation. If rail and transit are going to be the transportation systems of the 21st century, and the US is to retain its leadership position as we did in the 20th century, then the federal government must be as committed to supporting those programs now as they were to support the interstate highway system then. As the feds look for ways to reduce the deficit and get spending under control, it must not do so by failing to maintain and expand the multi-trillion dollar investment we have already made in our transportation system. That’s just good business. However, if that funding is not forthcoming, then we need to explore ways to replace it at the State or regional level. A century ago Oregon was the first state to institute a gas tax to fund road improvements, after failing to find a way to administer a vehicle mileage tax (VMT). Instituting a VMT initially on non-gasoline powered vehicles and eventually expanding it to all road vehicles to replace the gas tax, and setting it at a level that is truly sustainable would be one large step we can take.

%h3 learning from the success of other regions
.question
	:markdown
		Metro has proven itself as the national model in creating a collaborative planning approach to meeting the long-term needs of its population to accommodate future regional growth. Metropolitan regions across the United States have since modeled themselves on Metro, and worked to improve upon the Portland region’s successes. What successes from other regions, if any, will you promote as Councilor to help to keep Metro at the forefront of growth management and sustainability, and help improve the quality of life for the region’s residents?
.answer
	:markdown
		The only “success” I’m aware of in other metropolitan areas that we don’t already do in the Portland area is the ability to use state or local sales tax revenues to pay for transit and active transportation projects. Initiating a sales tax in Oregon is not something I see happening anytime soon, with a legislature that can’t even accomplish kicker reform.

%h3 continued regional trail investment
.question
	:markdown
		Regional trails are a key component of a complete regional transportation network, linking neighborhoods and schools to parks, employment, hospitals, shopping and other places that help meet the regular individual needs in the Portland region. They are transformative investments that significantly promote walking and bicycling, specifically for individuals who are less comfortable traveling with automobile traffic, and often provide critical connections that are not efficiently accommodated by the on-street transportation network. As Councilor, how will you support Metro’s continued strategic investment in collaborations and programs to maintain, enhance and develop the region’s trail network? How will you develop and pursue funding opportunities for future projects?
.answer
	:markdown
		If a new regional transportation funding source is created, it should include funding for regional trails as part of a complete transportation system.

%h3 the columbia river crossing mega-project
.question
	:markdown
		The Columbia River Crossing (CRC) is mainly a freeway expansion project. As the most expensive project in the region’s history, it is a 100-year regional investment that will provide only nominally-improved access and conditions for bicycling and walking. Will you, as Councilor, vote in opposition to this project until it becomes consistent with the six (Council-adopted) desired outcomes of the region’s growth management policy? How will you work to make the project consistent with the region’s vision?
.answer
	:markdown
		I am supportive of the existing preferred alternative, which does include improved facilities for bike and ped, as well as light rail.

%h3 past active transportation accomplishments
.question
	:markdown
		What are your specific accomplishments in helping improve conditions for bicycling, walking and accessing transit in Portland region, or other places?
.answer
	:markdown
		1. Several improvements & extensions to the Fanno Creek Trail
		
		2. Converting abandoned rail right of way purchased as trail segment linking Fanno Creek Trail to Tigard Main Street
		
		3. Burnham St. shared bike lanes
		
		4. Tigard Library bike/ped trail & new Woodruff Bridge Fanno Creek bike/ped crossing
		
		5. Expanded bike & ped trails in Cook Park & Ki-A-Kuts Bridge over Tualatin River linking Tigard’s Cook Park & Durham City Park to Tualatin City Park
		
		6. Supported WES commuter rail from Wilsonville to Beaverton MAX station, with bike paths linking Tigard station through Downtown to Fanno Creek Trail & local area arterial street bike lanes.

%h3 campaign viability
.question
	:markdown
		What makes you a viable candidate for Metro Council?
.answer
	:markdown
		1. Knowledge of the region and its issues
		
		2. Demonstrated ability to work with private and public partners and local citizens to craft workable solutions
		
		3. Demonstrated ability to quickly grasp an issue and identify core issues, allowing a focus on solutions, not symptoms
		
		4. Demonstrated ability to work with diverse groups. I know how to listen and to hear concerns, and to communicate back to people with why something can or cannot to be done.
		
		5. I’m a straight shooter. I don’t tell people what they want to hear just to avoid hard issues. I put my cards on the table and encourage others to do the same. This is the only way to achieve meaningful solutions
		
		6. Strong knowledge of regional transportation issues
		
		7. Strong knowledge of regional land use planning issues
		
		8. Strong knowledge of public financial management issues

		I have the knowledge of the issues, proven history of accomplishment and background of education and experience to make me the best candidate for this position. If there were a better candidate to represent the third district of Metro I would endorse them myself. Though I currently have no declared opponent, there is no other person in the District better qualified to fill this seat than me.